<mat-card class="example-card"
          [class._max]="align === 'max'"
          [class._full]="align === 'full'">
    <mat-card-title>Search</mat-card-title>
    <form [formGroup]="searchForm">
        <div style="display: flex; flex-direction: row">
            <mat-form-field style="width: 100%">
                <label>
                    <input matInput
                           placeholder="Search"
                           [matAutocomplete]="auto"
                           formControlName="searchInput"
                    >
                </label>
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="!(searchOptionsLoading$ ) && !!searchForm.get('searchInput').value">
                        <mat-option *ngFor="let option of searchOptions$ " [value]="option">
                            {{option}}
                        </mat-option>
                    </ng-container>

                    <mat-option  *ngIf="searchOptionsLoading$ && !!searchForm.get('searchInput').value">
                        <mat-spinner
                                     color="accent"
                                     [diameter]="20">
                        </mat-spinner>
                    </mat-option>
                    </mat-autocomplete>
            </mat-form-field>
            <a
                class="asb-search__search-button"
                mat-icon-button
                [disabled]="!searchForm.get('searchInput').value"
                [routerLink]="searchForm.get('searchInput').value ? '/search' : null"
                [routerLinkActive]="['active']">
                <mat-icon svgIcon="search"></mat-icon>
            </a>

        </div>

        <div class="form-checkboxes">
            <mat-checkbox class="checkbox"
                          [checked]="true"
            >
                Good boyz
            </mat-checkbox>
            <mat-checkbox class="checkbox"

            >
                BAD boyz
            </mat-checkbox>
            <mat-checkbox class="checkbox"
                          [checked]="true"
            >
                Not So bad boyz
            </mat-checkbox>
            <mat-checkbox class="checkbox"
                          [checked]="true"
            >
                Cell lines???
            </mat-checkbox>
            <a
                class="checkbox"
                mat-raised-button
                [routerLink]="'/search'"
                [routerLinkActive]="['active']"
            >
                advanced search
            </a>
        </div>
    </form>
</mat-card>
