<div>
<div
    class="min-height-comp"
    style="display: flex; flex-direction: column; align-items: center"
>
    <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%; align-items: center">
        <img
            #logo
            class="gear"
            src="assets/images/ANANAS.svg"
            alt=""
            (click)="logoClicked()"
        >
        <div class="text-main container" style="width: auto">
            <div style="display: flex; justify-content: center">
            <div class="theme-primary-border px-2">
                <h5 class="help-message mt-3" style="text-align: center">
                    ANANASTRA: <span class="bold-text">AN</span>notation and enrichment <span class="bold-text">AN</span>alysis of <span class="bold-text">A</span>llele-<span class="bold-text">S</span>pecific <span class="bold-text">TRA</span>nscription factor binding at SNPs

                </h5>
            </div>
            </div>
            <div class="mt-1 mb-3">
                <div class="d-block" style="text-align: center; white-space: pre-wrap">
                    <span>This webserver annotates a given list of SNPs with allele-specific binding events across a wide range of transcription factors and cell types<br class="d-none d-xl-block"> using ADASTRA
                        (<a
                            href="https://doi.org/10.1038/s41467-021-23007-0"
                            target="_blank"
                            rel="noopener noreferer"
                        >doi:10.1038/s41467-021-23007-0</a>) that is constructed through the meta-analysis of more than 15000<br class="d-xl-none d-lg-block d-none"> ChIP-Seq experiments.<br>
                        <span>If you found our portal useful for your research, please cite ANANASTRA: <a
                        href="https://doi.org/10.1093/nar/gkac262"
                        target="_blank"
                        rel="noopener noreferer"
                    >doi:10.1093/nar/gkac262</a></span>
                    </span>
                </div>
<!--                <div class="d-block d-xl-none" style="text-align: center;">-->
<!--                    <span>{{text}}-->
<!--                    </span>, see <a-->
<!--                        href="https://doi.org/10.1093/nar/gkac262"-->
<!--                        target="_blank"-->
<!--                        rel="noopener noreferer"-->
<!--                    >doi:10.1093/nar/gkac262</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="container mat-elevation-z2 py-3 mt-3" style="background: white">
      <div class="text-area">
        <astra-upload-file-component
        ></astra-upload-file-component>
      </div>

    </div>
</div>
    <asb-tour-button
        [buttonClass]="'tour-button'"
        [steps]="steps"
    ></asb-tour-button>
</div>
