<div>
<div style="display: flex; flex-direction: column; align-items: center">
    <div class="front-header">
        <h5 class="help-message">
            ANANASTra: ANalysis and ANnotAtion of SNP sets with allele-specific TRAnscription factor binding.

        </h5>
        <h6 style="text-align: center">Description: ....</h6>
    </div>
    <div class="container mat-elevation-z2 py-3">
      <div class="text-area">
        <astra-upload-file-component
        ></astra-upload-file-component>
      </div>

    </div>
</div>
    <asb-tour-button
        [buttonClass]="'tour-button'"
    ></asb-tour-button>
</div>
