.text-area {
}
.help-message {
    padding: 0.5rem;
    margin-bottom: 0;
}
.rainbow {
    font-size: 1.75rem;
    padding-left: 0.5rem;
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);   -webkit-background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
