.snp-page{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white !important;
    &__additional-selection {
        opacity: 0.75;
        font-size: 0.75em;
    }
    &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

}

