<ng-container *ngIf="!(snpDataLoading$ | async) && (snpData$ | async) as snpData">
    <div>
    <div class="container snp-page px-0">

        <div class="border-bottom border-info" style="padding-left: 20px; padding-right: 20px">
            <asb-snp-header
                [data]="snpData"
            >
            </asb-snp-header>
        </div>

        <div style="margin-left: 20px; padding-top: 10px">
            <asb-snp-card
                [snpData]="snpData"
                (emitNextStep)="colorScalesPanel.open()"
            >
            </asb-snp-card>
        </div>
        <mat-divider></mat-divider>
        <mat-accordion multi displayMode="flat" class="mat-elevation-z0">
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #colorScalesPanel
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Color scale</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                     style="overflow: auto; margin: -10px; padding: 10px"
                     joyrideStep="color-scales"
                     [stepContent]="stepTemplate"
                     (next)="statsPanel.open(); checkSelectedIndex(tabGroup, snpData)"
                     [stepContentParams]="getTextByStepName('color-scales')"
                >
                    <asb-color-scales

                        [refBase]="snpData.refBase"
                        [altBase]="snpData.altBase"
                    >
                    </asb-color-scales>
                </div>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #statsPanel
            >
                <mat-expansion-panel-header style="overflow: auto">
                    <mat-panel-title
                        joyrideStep="transcription-factors-stats"
                        [stepContent]="stepTemplate"
                        [stepContentParams]="getTextByStepName('transcription-factors-stats')"
                        (next)="openPanels(); phenPanel.open()"
                    >
                        <h4 class="col-auto pl-0 ml-0">Details</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-tab-group
                    #tabGroup
                    dynamicHeight
                    style="margin-top: -20px"
                    animationDuration="0ms"
                    [selectedIndex]="snpData.transFactors.length > 0 ? 0 : 1"
                >
                    <mat-tab label="Transcription factors">
                        <ng-template matTabContent>
                            <ng-container
                                [ngTemplateOutlet]="TfStatisticsTemplate"
                            >
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Cell types">
                        <ng-template matTabContent>
                            <ng-container
                                [ngTemplateOutlet]="ClStatisticsTemplate"
                            >
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #motifPanel
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Motif analysis</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngIf="_getGoodTfs((snpData.transFactors)) && _getGoodTfs((snpData.transFactors)).length > 0; else noMotifAnalysisTemplate">
                    <asb-motifs
                        #asbMotifsComponent
                        [transcriptionFactors]="_getGoodTfs((snpData.transFactors))"
                    >

                    </asb-motifs>
                </ng-container>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #phenPanel
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Genetic associations</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                    style="margin: -10px; padding: 10px"
                    joyrideStep="phen-stats"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('phen-stats')"
                >
                    <asb-phenotypes
                        [snpData]="snpData$ | async"
                    >
                    </asb-phenotypes>
                </div>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel expanded="true" class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Download</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button
                    mat-raised-button
                    (click)="_downloadPage()"
                >
                    Download page in JSON
                </button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
        <asb-tour-button [steps]="tourSteps"></asb-tour-button>
    </div>
</ng-container>


<ng-container *ngIf="(snpDataLoading$ | async)">
    <div class="snp-page__spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-container>

<ng-template #TfStatisticsTemplate>
    <asb-statistics
        *ngIf="snpData$ | async as snpData"
        #transcriptionFactors
        [objectData]="snpData?.transFactors || []"
        [tableColumnModel]="tfColumnModel"
        [sortData]="sortData"
        [initialDisplayedColumns]="tfDisplayedColumns"
        [action]="snpData?.transFactors.filter(filterCondition).length > 0 ? filterCondition : null"
        [getSnpName]="_createSnpName(snpData ,'tf')"
        [isCl]="false"
        (actionClicked)="openMotifAnalysis($event, _getGoodTfs(snpData.transFactors))"
        (downloadSnpInfo)="_downloadFile($event, 'tf')"
    >
    </asb-statistics>
</ng-template>

<ng-template #ClStatisticsTemplate>
    <asb-statistics

        #cellLines
        [objectData]="(snpData$ | async)?.cellLines || []"
        [tableColumnModel]="clColumnModel"
        [isCl]="true"
        [initialDisplayedColumns]="clDisplayedColumns"
        [getSnpName]="_createSnpName((snpData$ | async),'cl')"
        (downloadSnpInfo)="_downloadFile($event, 'cl')"
    >
    </asb-statistics>
</ng-template>

<ng-template #noMotifAnalysisTemplate>
    <div
        [joyrideStep]="'motif-analysis'"
        [stepContent]="stepTemplate"
        [stepContentParams]="getTextByStepName('motif-analysis')"
    >
        <h6>No data available</h6>
    </div>
</ng-template>

<ng-template #stepTemplate let-text=text>
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
