.snp-list{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white !important;
    &__tag {
        text-align: right;
        width:150px;
    }
    &__button {
        margin-left: 20px !important;
    }
    &__additional-selection {
        opacity: 0.75;
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 767px) {
    .snp-list__tag{
        text-align: left;

    }
}

