<div>
    <asb-table
        [data]="innerTableData"
        [displayedColumns]="displayedColumns"
        [columnModel]="columnModel"
        [paginatorOptions]="_getPaginatorOptions()"
        [sortingDataAccessor]="sortingDataAccessor"
        [initialSorting]="initialSorting"
    >

    </asb-table>
</div>

<ng-template #alignTemplate let-value="value" let-row="row">
    <a
        *ngIf="value"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'http://gtrd-analytics.biouml.org/#!experiment/'+ convertClId(row.expId)"
    >
        {{convertClId(row.expId)}}
    </a>
</ng-template>
