<mat-card class="example-card">
    <mat-card-title>Search</mat-card-title>
    <form [formGroup]="searchForm">
        <div>
            <div style="display: flex; flex-direction: row; vertical-align: center">
                <mat-form-field style="width: 100%; vertical-align: bottom">
                    <label>
                        <input matInput
                               placeholder="Search"
                               [matAutocomplete]="auto"
                               formControlName="searchInput"
                        >
                    </label>
                    <mat-autocomplete #auto="matAutocomplete">
                            <ng-container *ngIf="!(searchOptionsLoading$ )">
                                <mat-option *ngFor="let option of searchOptions$ " [value]="option">
                                    {{option}}
                                </mat-option>
                            </ng-container>
                            <mat-spinner *ngIf="searchOptionsLoading$ " matSuffix color="accent" [diameter]="12"></mat-spinner>
                        </mat-autocomplete>
                </mat-form-field>
                <div style="display: flex">
                    <button mat-icon-button
                            style="vertical-align:bottom; padding-bottom: 0; margin: 0"
                            (click)="_changeClick()">
                        <mat-icon svgIcon="search"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="form-checkboxes">
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Good boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"

                >
                    BAD boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Not So bad boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Cell lines???
                </mat-checkbox>
                <button
                    class="checkbox"
                    mat-raised-button
                >
                    advanced search
                </button>
            </div>
        </div>
    </form>
    <div> {{this.searchForm.get("searchInput").value}}</div>
    <div>Click = {{click}}</div>
</mat-card>
