<mat-card class="example-card">
    <mat-card-title>Search Shibas</mat-card-title>
    <form>
        <div>
            <mat-form-field style="width:100%">
                <mat-label>Write smth</mat-label>
                <label>
                    <input matInput
                    />
                </label>
            </mat-form-field>
            <div class="form-checkboxes">
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Good boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"

                >
                    BAD boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Not So bad boyz
                </mat-checkbox>
                <mat-checkbox class="checkbox"
                              [checked]="true"
                >
                    Cell lines???
                </mat-checkbox>
                <button
                    class="checkbox"
                    mat-raised-button
                >
                    advanced search
                </button>
            </div>
        </div>
    </form>
</mat-card>
