<div class="container pb-3" style="background-color: white">
    <h4 style="padding-top: 0.5rem">About</h4>
    <div class="container">
        <h5>Corresponding authors</h5>
        <hr class="v-divider" style="margin: 0">
        <ul class="asb-contacts">
            <li class="asb-contacts__section">
                <span class="asb-contacts__section-name">Ivan Kulakovskiy</span>
                <img
                    class="asb-contacts__section-image"
                    [src]="'assets/images/ivan_kulakovskiy.svg'"
                    alt="email pic"
                >
            </li>
            <li class="asb-contacts__section">
                <span class="asb-contacts__section-name">Vsevolod Makeev</span>
                <img
                    class="asb-contacts__section-image"
                    [src]="'assets/images/vsevolod_makeev.svg'"
                    alt="email pic"
                >
            </li>
        </ul>
        <h5>Technical questions</h5>
            <div>
                <hr class="v-divider" style="margin: 0">
                <ul class="asb-contacts">
                    <li class="asb-contacts__section">
                        <span class="asb-contacts__section-name">Sergey Abramov</span>
                        <img
                            class="asb-contacts__section-image"
                            [src]="'assets/images/serj_abramov.svg'"
                            alt="email pic"
                        >
                    </li>
                    <li class="asb-contacts__section">
                        <span class="asb-contacts__section-name">Alexandr Boytsov</span>
                        <img
                            class="asb-contacts__section-image"
                            [src]="'assets/images/alexandr_boytsov.svg'"
                            alt="email pic"
                        >
                    </li>
                    <li class="asb-contacts__section">
                        <span class="asb-contacts__section-name">Ilya Vorontsov</span>
                        <img
                            class="asb-contacts__section-image"
                            [src]="'assets/images/ilya_vorontsov.svg'"
                            alt="email pic"
                        >
                    </li>
                </ul>
            </div>
    </div>
    <hr class="v-divider" style="margin: 0">
    <div style="display: flex; justify-content: flex-end; flex-wrap: wrap;">Supported by RFBR grant 18-34-20024 and RSF grant 20-74-10075.</div>
</div>
