<nav
    class="navbar navbar-expand-md theme-accent-color mb-0 justify-content-start asb-header mat-elevation-z2"
    style="color: black"
>
    <div style="display: flex; align-items: center; overflow: auto">
        <a
            style="padding-right: 0"
            class="navbar-brand mr-0"
            [routerLink]="'/' + (currentRelease$ | async)?.url "
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <div style="display: flex; align-items: center">
            <img src="/assets/images/ADASTRA_logo_small.png" alt="" style="height:27px; margin-right: 0.7rem">
                <div style="display: inline-block; color: black">
                    UDACHA {{(currentRelease$ | async)?.version}}
                </div>
            </div>
        </a>
<!--        <button-->
<!--            joyrideStep="switch-release"-->
<!--            [stepContent]="stepTemplate"-->
<!--            [stepContentParams]="getTextByStepName('switch-release')"-->
<!--            mat-icon-button-->
<!--            disableRipple-->
<!--            matTooltip="Switch release"-->
<!--            (click)="selectRelease()"-->
<!--            style="color: white; display: flex; align-items: center; vertical-align: middle"-->
<!--            [matMenuTriggerFor]="releasesMenu"-->
<!--            color="accent"-->
<!--        >-->
<!--            <mat-icon-->
<!--                [ngClass]="releaseOpened ? 'asb-header-trans' : 'asb-header-trans-back'"-->
<!--                svgIcon="chevron-down"-->
<!--            ></mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #releasesMenu="matMenu"-->
<!--                  (closed)="releaseOpened = false">-->
<!--            <a-->
<!--                *ngFor="let release of releasesList"-->
<!--                mat-menu-item-->
<!--                [ngClass]="(currentRelease$ | async)?.url === release.url ? 'asb-header__active' : ''"-->
<!--                [href]="release.url"-->
<!--            >-->
<!--                <span-->
<!--                >Release {{release.name}} <small>{{release.version}} | <span *ngIf="getReleaseType(release) as rt">{{rt}}</span></small> </span>-->
<!--            </a>-->
<!--        </mat-menu>-->
    </div>
    <div
        class="collapse navbar-collapse  ml-auto p-2 justify-content-end"
    >
        <ng-container *ngTemplateOutlet="linksTemplate"></ng-container>
    </div>
    <button
        class="navbar-toggler mr-sm-0 mr-2 ml-auto"
        aria-label="Toggle navigation"
        type="button"
        [matMenuTriggerFor]="links"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <mat-menu #links="matMenu" style="padding-top: 0">
        <mat-nav-list style="padding-top: 0">
            <ng-container *ngTemplateOutlet="linksTemplate"></ng-container>
        </mat-nav-list>
    </mat-menu>
</nav>

<ng-template #linksTemplate>
    <div class="navbar-nav">
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/' + (currentRelease$ | async)?.url + '/search/' + ((searchQuery | async) && (searchQuery | async).isAdvanced ? 'advanced' : 'simple')"
            [queryParams]="_convertFormToParams((searchQuery | async))"
            [routerLinkActive]="['active']"
        >
            Search
        </a>
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/' + (currentRelease$ | async)?.url + '/browse'"
            [queryParams]="{by: 'dnase'}"
            [routerLinkActive]="['active']"
        >
            Browse
        </a>
<!--        <a-->
<!--            class="nav-item nav-link py-sm-0 header-link"-->
<!--            mat-list-item-->
<!--            href="https://ananastra.autosome.org"-->
<!--            target="_blank"-->
<!--            matTooltip="SNP set annotation with ANANASTRA"-->
<!--            matTooltipClass="tooltip-bigger"-->
<!--            rel="noopener noreferrer"-->
<!--        >-->
<!--            Annotate-->
<!--        </a>-->
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/' + (currentRelease$ | async)?.url + '/help'"
            [routerLinkActive]="['active']"
        >
            Help
        </a>
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/' + (currentRelease$ | async)?.url + '/downloads'"
            [routerLinkActive]="['active']"
        >
            Downloads
        </a>
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/' + (currentRelease$ | async)?.url + '/about'"
            [routerLinkActive]="['active']"
            (click)="toggleNavbar('close')"
        >
            About
        </a>
    </div>
</ng-template>

<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
