<div class=" pt-2">
  <div style="margin-bottom: 10px;
   display: flex; flex-wrap: wrap;
   align-items: center;
   overflow: auto;
    line-height: 2.5;
   justify-content: space-between" >
        <mat-button-toggle-group
            joyrideStep="col-button"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('col-button')"

          class="mt-2 mt-sm-0 ml-auto"
          [value]="isExpanded"
          (change)="_groupToggled($event)"
        >
          <mat-button-toggle
            [value]="false"
            [matTooltipClass]="'big-font'"
            matTooltip="Show only the single most significant ASB per SNP"
          >
            Collapsed
          </mat-button-toggle>
          <mat-button-toggle
            [value]="true"
            [matTooltipClass]="'big-font'"
            matTooltip="Show all individual ASB records per SNP"
          >
            Expanded
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0" #expansionPanel>
        <mat-expansion-panel-header
            joyrideStep="odds-table-open"
            [stepContent]="stepTemplate"
            (next)="expansionPanel.open()"
            class="pl-2">
            <mat-panel-title>
                <h6
                    class="mb-0"
                    style="font-weight: bold">
                    {{isExpanded ? 'A' : 'Top a'}}llele-specific binding events {{tfOrCl === 'tf' ? 'of' : 'in'}} particular {{tfOrCl === 'tf' ? 'transcription factors' : 'cell types'}}
                </h6>
            </mat-panel-title>
        </mat-expansion-panel-header>

    <div class="row mx-0"
         style="display: flex; align-items: center; flex-wrap: wrap"
    >
    <div class="wide-chart-big"
         style="margin-top: 0.5rem; width: 100%"
         joyrideStep="pie-chart"
         [stepContent]="stepTemplate"
    >
        <asb-ticket-barplot
            *ngIf="ticketStatistics?.metaInfo"
            [data]="getChartData(ticketStatistics?.metaInfo)"
            [tfOrCl]="tfOrCl"
            [isExpanded]="isExpanded"
            [selectedIndex]="getSelectedNameIndex(selectedName)"
            (chartClickEmitter)="chartClicked($event)"
        ></asb-ticket-barplot>
    </div>
    <div class="col-auto"
         style="flex-grow: 1"
         joyrideStep="odds-table"
         [stepContent]="stepTemplate"
    >
        <asb-ticket-table-tmp
            [data]="tfOrCl === 'tf' ? ticketStatistics.metaInfo.tfAsbData : ticketStatistics.metaInfo.clAsbData"
        ></asb-ticket-table-tmp>
    </div>
    </div>
    </mat-expansion-panel>
    <mat-divider class="mb-1"></mat-divider>
    <div>
        <div style="margin-bottom: 10px; width: 100%">
<!--            <h6>-->
<!--                ASB in {{tfOrCl== 'tf' ? 'Transcription factors' : 'Cell types'}}-->
<!--            </h6>-->
            <div style="overflow:auto;">
                <mat-form-field
                    style="margin-left: 5px; margin-right: 5px; width: 210px"
                    joyrideStep="columns-select"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('columns-select')"
                >
                    <mat-label>Selected columns</mat-label>
                    <mat-select [formControl]="columnsControl"
                                multiple
                                (selectionChange)="_changeColumns($event)"
                    >
                        <mat-select-trigger>
                            {{columnsControl.value ?
                            columnModel[columnsControl.value[0]]?.view : ''}}
                            <span *ngIf="columnsControl.value?.length > 1"
                                  class="additional-selection small-font"
                            >
                        (+{{columnsControl.value?.length - 1}}
                                {{columnsControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                        </mat-select-trigger>
                        <mat-option
                            *ngFor="let column of columnModel | toList"
                            [value]="column.key"
                        >
                            {{column.value.view}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    style="margin-right: 5px"
                    mat-raised-button
                    (click)="_resetFilters()"
                >
                    Reset
                </button>
                <button
                    style="overflow: auto"
                    mat-raised-button
                    (click)="downloadTable()"
                    joyrideStep="download-table"
                    [stepPosition]="'bottom'"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('download-table')"
                >
                    <mat-icon svgIcon="download"></mat-icon>
                    Download table
                </button>
            </div>
        </div>
        <div
            style="display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; margin-top: 5px">
            <span>Filter:</span>
            <mat-chip-list>
                <mat-chip
                    *ngIf="selectedName"
                    removable
                    [matMenuTriggerFor]="selectMenu"
                    (removed)="filterTable()"
                    joyrideStep="filter"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('filter')"
                >
                    {{selectedName}}
                    <mat-icon
                        style="font-size: 14px"
                        matChipRemove
                        svgIcon="clear"
                    ></mat-icon>
                </mat-chip>
                <mat-chip
                    *ngIf="!selectedName"
                    [matMenuTriggerFor]="selectMenu"
                    joyrideStep="filter"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('filter')"
                >
                    No filter
                </mat-chip>
            </mat-chip-list>
            <mat-menu #selectMenu>
                <div
                    *ngFor="let value of getChartData(ticketStatistics.metaInfo)"
                    mat-menu-item
                    [ngClass]="selectedName == value.name ? 'theme-primary-color-font' : ''"
                    [ngStyle]="value.name == selectedName ? {'background': 'rgba(0,0,0,.12)'} : {}"
                    (click)="filterTable(value.name)"
                >
                    {{value.name}}
                </div>
            </mat-menu>
        </div>
        <asb-table
            [displayedColumns]="displayedColumns"
            [columnModel]="columnModel"
            [sortData]="sortData"
            [data]="tableData"
            [pageSize]="50"
            [paginatorOptions]="[5, 10, 25, 100, 500, 1000]"
        ></asb-table>
    </div>

</div>

<ng-template #genomePositionViewTemplate let-row="row">
  <div>
          <span>{{row?.chr}}:{{row?.pos}}&nbsp;<span style="color: black"><strong
            [ngStyle]="{'color': colors[row.refBase]}"
          >{{row.refBase}}</strong>
                  <span>></span>
                  <strong
                    [ngStyle]="{'color': colors[row.altBase]}"
                  >{{row.altBase}}</strong>
              </span>
          </span>
  </div>
</ng-template>
<ng-template #genomePositionViewSumTemplate let-row="row">
    <div>
          <span>{{row?.chr}}:{{row?.pos}}&nbsp;<span style="color: black">
                  <span *ngFor="let base of row.alleles; let last=last"><strong
                          [ngStyle]="{'color': colors[base]}"
                      >{{base}}</strong><span *ngIf="!last">/</span>
                  </span>
              </span>
          </span>
    </div>
</ng-template>
<ng-template #downloadSelectType>
  <h1
    style="display: flex; justify-content: space-between; margin-bottom: 0;"
    mat-dialog-title
  >
    <button mat-dialog-close
            mat-icon-button tabindex="-1">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </h1>
  <div mat-dialog-content style="max-height: 80vh">

  </div>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
  <asb-sci-notation [value]="value" [toInvert]="true"></asb-sci-notation>
</ng-template>
<ng-template #dbSnpViewTemplate let-value="value" let-row="row">
  <div class="pseudo-link"
    [matMenuTriggerFor]="linkMenu"
    [matMenuTriggerData]="{value: value, row: row}"
  >
    {{value}}</div>

</ng-template>
<mat-menu #linkMenu>
    <ng-template matMenuContent let-value="value" let-row="row">
        <a
            target="_blank"
            rel="noopener noreferrer"
            mat-menu-item
            [href]="'https://www.ncbi.nlm.nih.gov/snp/' + value"
        >
            view in dbSNP</a>
        <a
            mat-menu-item
            target="_blank"
            rel="noopener noreferrer"
            [href]="constructAdastraLink(row)"
        >
            view in ADASTRA</a>
    </ng-template>
</mat-menu>
<ng-template #gtexTemplate let-row="row" let-value="value">
    <a
        *ngIf="value"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://www.gtexportal.org/home/snp/' + row?.rsId"
    >
        <mat-icon svgIcon="new_open"></mat-icon>
    </a>
</ng-template>
<ng-template #prefAlleleColumnTemplate let-value="value">
    <span>{{value.slice(0, 3)}} (<span [ngStyle]="{color: colors[value[5]]}">{{value[5]}}</span>)</span>
</ng-template>
<ng-template #concordanceTemplate let-value="value" let-row="row">
    <button
        mat-stroked-button
        class="p-1"

        style="line-height: 0.8rem"
        *ngIf="value && value !== 'No Hit'"
        (click)="openDialog(row)"
        matTooltip="Click to open panel"
    >
        {{value}}
    </button>
    <span
        *ngIf="!value || value === 'No Hit'"
    >{{value !== null ? value : 'n/a'}}</span>
</ng-template>
<ng-template #imagePopupTemplate let-data>
    <mat-dialog-content>
    <img
        style="max-height: 65vh; max-width: 100%"
        alt=""
        [src]="'https://adastra.autosome.ru/pngs/v2/' + data.transcriptionFactor + '_' + data.rsId.slice(2) + '_' + data.altBase +(revcompState ? '_revcomp' : '' ) + '.png'"
    >
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-raised-button
            color="accent"
            (click)="changeRevcompClick()"
        >
            Show {{!revcompState ? 'reverse complement' : 'direct'}}
        </button>
    </mat-dialog-actions>
</ng-template>

<ng-template #tfBindPrefTemplate let-value="value" let-row="row">
    <span>{{value}} (<span
            *ngFor="let letter of getLetter(value, row); let last=last"
            [ngStyle]="{color: colors[letter]}"
    >{{letter}}<span *ngIf="!last">/</span></span>)</span>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
