<div class="pt-2">
    <mat-expansion-panel
        class="mat-elevation-z0"
        style="padding-bottom: 10px"
        #expansionPanel
        [expanded]="panelExpanded"
        (expandedChange)="expandedChange($event)"
    >
        <mat-expansion-panel-header
            joyrideStep="odds-table-open"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('odds-table-open')"
            (next)="expansionPanel.open()"
            class="pl-2"
            [ngClass]="panelExpanded ? '' : 'header'"
        >
            <mat-panel-title>
                <h6
                    class="mb-0"
                    style="font-weight: bold">
                    Enrichment of allele-specific binding events of particular {{tfOrCl == 'tf' ? 'TFs' : 'cell types'}}
                </h6>
            </mat-panel-title>
            <mat-panel-description style="justify-content: flex-end;">
                Click to expand
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row mx-0 flex-lg-nowrap flex-wrap"
             style="display: flex; align-items: center; flex-wrap: wrap"
        >
            <ng-container *ngIf="getTfOrClData(ticketStatistics.metaInfo).length > 0; else noDataTemplate">

                <div
                    style="flex-grow: 1; overflow:auto;"
                    joyrideStep="odds-table"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('odds-table')"
                >
                    <asb-ticket-table-tmp
                        [data]="getTfOrClData(ticketStatistics.metaInfo)"
                        [chartsLoaded]="chartsLoaded"
                    ></asb-ticket-table-tmp>
                </div>
            </ng-container>
        </div>
    </mat-expansion-panel>
  <div style="margin-bottom: 10px;
   display: flex; flex-wrap: wrap;
   align-items: center;
   overflow: auto;
    line-height: 2.5;
   justify-content: space-between" >
        <mat-button-toggle-group
            joyrideStep="col-button"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('col-button')"

          class="mt-2 mt-sm-0 ml-auto"
          [value]="isExpanded"
          (change)="_groupToggled($event)"
        >
          <mat-button-toggle
            [value]="false"
            [matTooltipClass]="'big-font'"
            matTooltip="Show only the single most significant ASB per SNP"
          >
            Collapsed
          </mat-button-toggle>
          <mat-button-toggle
            [value]="true"
            [matTooltipClass]="'big-font'"
            matTooltip="Show all individual ASB records per SNP"
          >
            Expanded
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>
    <div
        joyrideStep="pie-chart"
        [stepContent]="stepTemplate"
        [stepContentParams]="getTextByStepName('pie-chart')"
    >
        <asb-ticket-barplot
            *ngIf="ticketStatistics?.metaInfo && getChartData(ticketStatistics?.metaInfo).length > 0"
            [data]="getChartData(ticketStatistics?.metaInfo)"
            [tfOrCl]="tfOrCl"
            [chartLoaded]="chartsLoaded"
            [isExpanded]="isExpanded"
            [selectedIndex]="getSelectedNameIndex(selectedName)"
            (chartClickEmitter)="chartClicked($event)"
        ></asb-ticket-barplot>
    </div>
    <div
    >

    </div>
    <mat-divider class="mb-1"></mat-divider>
    <div>
        <div style="margin-bottom: 10px; width: 100%">
<!--            <h6>-->
<!--                ASB in {{tfOrCl== 'tf' ? 'Transcription factors' : 'Cell types'}}-->
<!--            </h6>-->
            <div style="overflow:auto;">
                <mat-form-field
                    style="margin-left: 5px; margin-right: 5px; width: 210px"
                    joyrideStep="columns-select"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('columns-select')"
                >
                    <mat-label>Selected columns</mat-label>
                    <mat-select [formControl]="columnsControl"
                                multiple
                                (selectionChange)="_changeColumns($event)"
                    >
                        <mat-select-trigger>
                            {{columnsControl.value ?
                            columnModel[columnsControl.value[0]]?.view : ''}}
                            <span *ngIf="columnsControl.value?.length > 1"
                                  class="additional-selection small-font"
                            >
                        (+{{columnsControl.value?.length - 1}}
                                {{columnsControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                        </mat-select-trigger>
                        <mat-option
                            *ngFor="let column of columnModel | toList"
                            [value]="column.key"
                        >
                            {{column.value.view}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    style="margin-right: 5px"
                    mat-raised-button
                    class="ml-1 ml-sm-1"
                    (click)="_resetFilters()"
                >
                    Reset
                </button>
                <button
                    style="overflow: auto"
                    class="mb-1 mb-sm-0 ml-1 ml-sm-1"
                    mat-raised-button
                    (click)="downloadTable()"
                    joyrideStep="download-table"
                    [stepPosition]="'bottom'"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('download-table')"
                >
                    <mat-icon svgIcon="download"></mat-icon>
                    Download table
                </button>
            </div>
        </div>
        <div
            style="display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; margin-top: 5px">
            <span>Filter:</span>
            <mat-chip-list>
                <mat-chip
                    *ngIf="selectedName"
                    removable
                    [matMenuTriggerFor]="selectMenu"
                    (removed)="filterTable()"
                    joyrideStep="filter"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('filter')"
                >
                    {{selectedName}}
                    <mat-icon
                        style="font-size: 14px"
                        matChipRemove
                        svgIcon="clear"
                    ></mat-icon>
                </mat-chip>
                <mat-chip
                    *ngIf="!selectedName"
                    [matMenuTriggerFor]="selectMenu"
                    joyrideStep="filter"
                    [stepContent]="stepTemplate"
                    [stepPosition]="'bottom'"
                    [stepContentParams]="getTextByStepName('filter')"
                >
                    No filter
                </mat-chip>
            </mat-chip-list>
            <mat-menu #selectMenu>
                <div
                    *ngFor="let value of getChartData(ticketStatistics.metaInfo)"
                    mat-menu-item
                    [ngClass]="selectedName == value.name ? 'theme-primary-color-font' : ''"
                    [ngStyle]="value.name == selectedName ? {'background': 'rgba(0,0,0,.12)'} : {}"
                    (click)="filterTable(value.name)"
                >
                    {{value.name}}
                </div>
            </mat-menu>
        </div>
        <asb-table-server
            [displayedColumns]="displayedColumns"
            [columnModel]="columnModel"
            [data]="data"
            [dataLoading]="dataLoading"
            [paginatorPageSize]="pageSize"
            (rowClickEmitter)="rowClicked($event)"
            (tableChangesEmitter)="emitTableChanges($event)"
            [getTitle]="getRowTitle()"
            [popoverContentTemplate]="popoverContentTemplate"
            [clickableRow]="true"
            [initialSorting]="{active: 'chr', direction: 'asc'}"
            [paginatorLength]="paginatorLength"
            [paginatorOptions]="[5, 10, 25, 100]"
        ></asb-table-server>
    </div>

</div>


<ng-template #genomePositionViewTemplate let-row="row">
  <div>
          <span>{{row?.chr}}:{{row?.pos}}&nbsp;<span style="color: black"><strong
            [ngStyle]="{'color': colors[row.refBase]}"
          >{{row.refBase}}</strong>
                  <span>></span>
                  <strong
                    [ngStyle]="{'color': colors[row.altBase]}"
                  >{{row.altBase}}</strong>
              </span>
          </span>
  </div>
</ng-template>
<ng-template #genomePositionViewSumTemplate let-row="row">
    <div>
          <span>{{row?.chr}}:{{row?.pos}}&nbsp;<span style="color: black">
                  <span *ngFor="let base of row.alleles; let last=last"><strong
                          [ngStyle]="{'color': colors[base]}"
                      >{{base}}</strong><span *ngIf="!last">/</span>
                  </span>
              </span>
          </span>
    </div>
</ng-template>
<ng-template #downloadSelectType>
  <h1
    style="display: flex; justify-content: space-between; margin-bottom: 0;"
    mat-dialog-title
  >
    <button mat-dialog-close
            mat-icon-button tabindex="-1">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </h1>
  <div mat-dialog-content style="max-height: 80vh">

  </div>
</ng-template>
<ng-template #uscsColumnTemplate let-row="row">
    <a
        joyrideStep="genome-browser"
        style="overflow: auto"
        mat-icon-button
        target="_blank"
        rel="noopener noreferrer"
        (click)="$event.stopPropagation()"
        [href]="'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position='
            + row.chr + ':' + (row.pos > 100 ? row.pos - 100 : '1')
            + '-' + (row.pos + 100) +
            '&hgct_customText=track%20type=bigBed%20name=ADASTra_ASB_SNPs%20' +
             'description=%22ADASTra%20ASB%20SNPs%22%20visibility=full%20bigDataUrl=' +
             'https://adastra.autosome.org/assets/ucsc-files/' + release.ucscFileName +'&knownGene=full&' +
             'omimAvSnp=full&varsInPubs=full&snpedia=full&hgmd=full'"
    >
        <mat-icon svgIcon="new_open"></mat-icon>
    </a>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
  <asb-sci-notation [value]="value" [toInvert]="true"></asb-sci-notation>
</ng-template>
<ng-template #dbSnpViewTemplate let-value="value" let-row="row">
  <div class="pseudo-link"
    [matMenuTriggerFor]="linkMenu"
    (click)="$event.stopPropagation()"
    [matMenuTriggerData]="{value: value, row: row}"
  >
    {{value}}</div>

</ng-template>
<mat-menu #linkMenu>
    <ng-template matMenuContent let-value="value" let-row="row">
        <a
            target="_blank"
            rel="noopener noreferrer"
            mat-menu-item
            [href]="'https://www.ncbi.nlm.nih.gov/snp/' + value"
        >
            view in dbSNP</a>
        <a
            mat-menu-item
            target="_blank"
            rel="noopener noreferrer"
            [href]="constructAdastraLink(row)"
        >
            view in ADASTRA</a>
        <a
            mat-menu-item
            target="_blank"
            rel="noopener noreferrer"
            [href]="'http://www.mulinlab.org/vportal/apir.html?q='+ value + '&g=hg38'"
        >
            view in VannoPortal</a>
    </ng-template>
</mat-menu>
<ng-template #gtexTemplate let-row="row" let-value="value">
    <a
        *ngIf="value"
        target="_blank"
        (click)="$event.stopPropagation()"
        rel="noopener noreferrer"
        [href]="'https://www.gtexportal.org/home/snp/' + row?.rsId"
    >
        <mat-icon svgIcon="new_open"></mat-icon>
    </a>
</ng-template>
<ng-template #prefAlleleColumnTemplate let-value="value">
    <span>{{value.slice(0, 3)}} (<span [ngStyle]="{color: colors[value[5]]}">{{value[5]}}</span>)</span>
</ng-template>
<ng-template #concordanceTemplate let-value="value" let-row="row">
    <button
        mat-stroked-button
        class="p-1"

        style="line-height: 0.8rem"
        *ngIf="value && value !== 'No Hit'"
        (click)="openDialog(row); $event.stopPropagation()"
    >
        <mat-icon
            style="padding-bottom: 1px"
            svgIcon="image"></mat-icon><span>{{value}}</span>
    </button>
    <span
        *ngIf="!value || value === 'No Hit'"
    >{{value !== null ? value : 'n/a'}}</span>
</ng-template>
<ng-template #imagePopupTemplate let-data>
    <h1
        style="display: flex; justify-content: flex-end; margin-bottom: 0;"
        mat-dialog-title
    >

        <button mat-dialog-close
                mat-icon-button tabindex="1">
            <mat-icon svgIcon="clear"></mat-icon>
        </button>
    </h1>
    <mat-dialog-content>
    <img
        style="max-height: 65vh; max-width: 100%; width: 50vw"
        alt="Loading..."
        [src]="'https://adastra.autosome.org/svgs/' + release.api + '/' + data.transcriptionFactor + '_' + data.rsId.slice(2) + '_' + data.altBase +(revcompState ? '_revcomp' : '' ) + '.svg'"
    >
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-raised-button
            color="accent"
            (click)="changeRevcompClick()"
        >
            Show {{!revcompState ? 'reverse complement' : 'direct'}}
        </button>
    </mat-dialog-actions>
</ng-template>

<ng-template #tfBindPrefTemplate let-value="value" let-row="row">
    <span>{{value}} (<span
            *ngFor="let letter of getLetter(value, row); let last=last"
            [ngStyle]="{color: colors[letter]}"
    >{{letter}}<span *ngIf="!last">/</span></span>)</span>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #noDataTemplate>
        <span style="padding-top: 10px;width: 100%;text-align: center; padding-bottom: 10px"
        >No Data Available</span>
</ng-template>

<ng-template #popoverContentTemplate let-row="row">
    <asb-inner-table
        *ngIf="!(innerTableLoading$ | async) else loadingTemplate"
        [innerTableData]="innerTableData"
        [isCl]="tfOrCl === 'cl'"
        [sortColumn]="row.pValueRef < row.pValueAlt ? 'ref' : 'alt'"
    ></asb-inner-table>
</ng-template>

<ng-template #loadingTemplate>
    <div style="min-width: 20vw; min-height: 25vh">
    <div style="display: flex; justify-content: center" class="pt-3">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    </div>
</ng-template>


<ng-template #clViewTemplate let-row="row" let-value="value">
    <a
        (click)="$event.stopPropagation()"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'http://gtrd.biouml.org/#!table/gtrd_current.cells/Details/ID=' + row.cellTypeId"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #tfViewTemplate let-row="row" let-value="value">
    <a
        (click)="$event.stopPropagation(); $event.preventDefault()"
        [matMenuTriggerFor]="tfLinks"
        [matMenuTriggerData]="{value, row}"
        [href]="'#'"
    >{{value}}</a>
    <mat-menu #tfLinks>
        <ng-template matMenuContent let-value="value" let-row="row">
            <a
                target="_blank"
                rel="noopener noreferrer"
                mat-menu-item
                [href]="'https://www.genecards.org/Search/Keyword?queryString=' + value"

            >
                view in GeneCards</a>
            <a
                mat-menu-item
                target="_blank"
                rel="noopener noreferrer"
                [href]="'https://hocomoco11.autosome.org/search?arity=mono&species=human&query=' + value"
            >
                view in HOCOMOCO</a>
            <a
                mat-menu-item
                target="_blank"
                rel="noopener noreferrer"
                [href]="'https://www.uniprot.org/uniprot/' + row.tfUniprotAc"
            >
                view in UniProt</a>
        </ng-template>
    </mat-menu>
</ng-template>
