<div class="container flex-grow-1 mx-md-auto pb-3 px-sm-0 px-md-auto">

    <asb-search
        [width]="'full'"
        [isAdvanced]="isAdvancedSearch"
        [searchData]="searchSnpResults$ | async"
    ></asb-search>

    <hr class="v-divider" style="margin:0">
    <div style="background: #f8f8f8;" class="d-flex">
        <div class="container-fluid mx-auto" style="padding-bottom: 5px; padding-top: 5px">
            <div class="flex text-xs-right xs-12">
                <div class="text-xs-left">
                    <h4 class="headline text--bold-300 search-page__text">
                        {{getPhrase((searchSnpResults$ | async),
                        (searchSnpResultsLoading$ | async))}}

                        <mat-button-toggle-group
                            #group="matButtonToggleGroup"
                            [value]="initialGroupValue" (change)="_groupToggled($event)">
                            <mat-button-toggle
                                value="card"
                                matTooltip="card view"
                            >
                                <mat-icon svgIcon="list"></mat-icon>
                            </mat-button-toggle>

                            <mat-button-toggle
                                value="list"
                                matTooltip="table view"
                            >
                                <mat-icon svgIcon="list"></mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </h4>
                    <h4 class="headline text--bold-300 search-page__text">
                        {{getAdditionalPhrase((searchSnpResults$ | async),
                        (searchSnpResultsLoading$ | async))}}
                    </h4>
                </div>
            </div>
            <ng-container *ngIf="!(searchSnpResultsLoading$ | async); else loadingTemplate">
                <ng-container *ngIf="group.value === 'card'; else tableViewTemplate">
                    <div class="layout pb-2"
                         style="margin-bottom: 20px"
                         *ngFor="let snp of filteredSnpResults$ | async">
                        <a
                            [routerLink]="'/snps/' + snp.rsId + '/' + snp.altBase"
                        >
                            <mat-card
                                class="search-page__card"
                                asbElevation
                                role="group"
                            >
                                <mat-card-header class="layout border--radius-top-8 row wrap theme--dark">
                                    <mat-card-title>
                                        <asb-snp-header
                                            [data]="snp"
                                            [snpCard]="false"
                                        >
                                        </asb-snp-header>
                                    </mat-card-title>
                                    <mat-card-subtitle>

                                    </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <asb-snp-card
                                        [snpData]="snp"
                                        [noButtons]="true"
                                    >
                                    </asb-snp-card>
                                </mat-card-content>
                            </mat-card>
                        </a>
                    </div>
                </ng-container>

                <mat-paginator
                    *ngIf="(searchSnpResults$ | async)?.results.length > 0"
                    showFirstLastButtons
                    [pageSize]="pageSize"
                    [length]="(searchSnpResults$ | async)?.results.length"
                    [pageSizeOptions]="[3, 10, 25, 50, 100]"
                    (page)="_handlePageChange($event)"
                ></mat-paginator>

            </ng-container>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div style="height: 370px">
        <div class="search-page__spinner">
            <mat-progress-spinner mode="indeterminate" color="accent" [diameter]="120"></mat-progress-spinner>
        </div>
    </div>
</ng-template>



<ng-template #tableViewTemplate>
    <asb-search-table
        [searchResults]="filteredSnpResults$ | async"
    >
    </asb-search-table>
</ng-template>


