<div class="container-fluid">
    <asb-search [align]="'full'"></asb-search>
    <div class="jumbotron" style="background-color: white" *ngFor="let snp of searchSnpResults$ | async">
        <div>
        <mat-card
            appMaterialElevation
            role="group"
            [routerLink] = "'/data/snp/' + snp.rsId"
        >
            <mat-card-header>
                <mat-card-title>
                    Горячий пирожок {{snp.rsId}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <asb-snp-card
                    [snpData]="snp"
                >
                </asb-snp-card>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>


