<div style="max-width: 100%; height: 100%">
    <div style="display: block; width: 100%; height: 100%">
        <canvas *ngIf="chartLoaded"
                height="350"
                mdbChart
                chartType="doughnut"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="chartClicked($event)"
        >
        </canvas>
    </div>
</div>
