<div style="max-width: 100%; height: 100%" *ngIf="chartDatasets[0].data.length > 0">
    <h6
        style="font-weight: bold; ">
        {{isExpanded ? 'A' : 'Top a'}}llele specific binding events {{tfOrCl === 'tf' ? 'of' : 'in'}} particular {{tfOrCl === 'tf' ? 'transcription factors' : 'cell types'}}
    </h6>
    <div style="display: block; width: 100%; height: 100%">
        <canvas *ngIf="chartLoaded"
                height="350"
                mdbChart
                chartType="doughnut"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="chartClicked($event)"
        >
        </canvas>
    </div>
</div>
