<ng-container *ngIf="!(snpDataLoading$ | async) && (snpData$ | async) as snpData">
    <div >
    <div class="container snp-page px-0">

        <div class="border-bottom border-info" style="padding-left: 20px; padding-right: 20px">
            <asb-snp-header
                [data]="snpData"
            >
            </asb-snp-header>
        </div>

        <div style="margin-left: 20px; padding-top: 10px">
            <asb-snp-card
                [snpData]="snpData"
                [fdr]="fdr"
                [es]="es"
                (emitNextStep)="colorScalesPanel.open()"
            >
            </asb-snp-card>
        </div>
        <mat-divider></mat-divider>
        <mat-accordion multi displayMode="flat" class="mat-elevation-z0">
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #colorScalesPanel
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Color scale</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                     style="overflow: auto; margin: -10px; padding: 10px"
                     joyrideStep="color-scales"
                     [stepContent]="stepTemplate"
                     (next)="statsPanel.open(); checkSelectedIndex(tabGroup, snpData)"
                     [stepContentParams]="getTextByStepName('color-scales')"
                >
                    <asb-color-scales

                        [refBase]="snpData.refBase"
                        [altBase]="snpData.altBase"
                    >
                    </asb-color-scales>
                </div>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #statsPanel
            >
                <mat-expansion-panel-header style="overflow: auto">
                    <mat-panel-title
                        joyrideStep="transcription-factors-stats"
                        [stepContent]="stepTemplate"
                        [stepContentParams]="getTextByStepName('transcription-factors-stats')"
                    >
                        <h4 class="col-auto pl-0 ml-0">Details</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-tab-group
                    #tabGroup
                    dynamicHeight
                    style="margin-top: -20px"
                    mat-align-tabs="center"
                    animationDuration="0ms"
                    [selectedIndex]="getIndex(snpData)"
                >
                    <mat-tab label="DNase-Seq">
                        <ng-template matTabContent>
                            <ng-container
                                [ngTemplateOutlet]="dnaseStatisticsTemplate"
                            >
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="ATAC-Seq">
                        <ng-template matTabContent>
                            <ng-container
                                [ngTemplateOutlet]="atacStatisticsTemplate"
                            >
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="FAIRE-Seq">
                        <ng-template matTabContent>
                            <ng-container
                                [ngTemplateOutlet]="faireStatisticsTemplate"
                            >
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
<!--            <mat-expansion-panel-->
<!--                expanded="true"-->
<!--                class="py-0 mat-elevation-z0"-->
<!--                #motifPanel-->
<!--            >-->
<!--                <mat-expansion-panel-header>-->
<!--                    <mat-panel-title>-->
<!--                        <h4 class="col-auto pl-0 ml-0">Motif analysis</h4>-->
<!--                    </mat-panel-title>-->
<!--                </mat-expansion-panel-header>-->
<!--                <ng-container *ngIf="_getGoodTfs((snpData.dnaseData)) && _getGoodTfs((snpData.dnaseData)).length > 0; else noMotifAnalysisTemplate">-->
<!--                    <asb-motifs-->
<!--                        #asbMotifsComponent-->
<!--                        [transcriptionFactors]="_getGoodTfs((snpData.dnaseData))"-->
<!--                        [release]="release$ | async"-->
<!--                    >-->

<!--                    </asb-motifs>-->
<!--                </ng-container>-->
<!--            </mat-expansion-panel>-->
            <mat-divider></mat-divider>
            <mat-expansion-panel
                expanded="true"
                class="py-0 mat-elevation-z0"
                #phenPanel
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Genetic associations</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                    style="margin: -10px; padding: 10px"
                    joyrideStep="phen-stats"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('phen-stats')"
                >
                    <asb-phenotypes
                        [snpData]="snpData$ | async"
                    >
                    </asb-phenotypes>
                </div>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel style="z-index: 20" expanded="true" class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="col-auto pl-0 ml-0">Download</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <button
                    mat-raised-button
                    (click)="_downloadPage()"
                >
                    Download page in JSON
                </button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
        <asb-tour-button [steps]="tourSteps"></asb-tour-button>
    </div>
</ng-container>


<ng-container *ngIf="(snpDataLoading$ | async)">
    <div class="snp-page__spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-container>

<ng-template #atacStatisticsTemplate>
    <asb-statistics
        #atacStatistics
        *ngIf="snpData$ | async as snpData"
        [objectData]="snpData?.atacData || []"
        [tableColumnModel]="clColumnModel"
        [sortData]="sortData"
        [initialDisplayedColumns]="clDisplayedColumns"
        [getSnpName]="_createSnpName(snpData)"
        [isCl]="false"
        (downloadSnpInfo)="_downloadFile($event, 'atac')"
    >
    </asb-statistics>
</ng-template>

<ng-template #dnaseStatisticsTemplate>
    <asb-statistics
        *ngIf="snpData$ | async as snpData"
        #dnaseStatistics
        [objectData]="snpData?.dnaseData || []"
        [tableColumnModel]="clColumnModel"
        [sortData]="sortData"
        [initialDisplayedColumns]="clDisplayedColumns"
        [getSnpName]="_createSnpName(snpData)"
        [isCl]="false"
        (downloadSnpInfo)="_downloadFile($event, 'dnase')"
    >
    </asb-statistics>
</ng-template>

<ng-template #faireStatisticsTemplate>
    <asb-statistics
        *ngIf="snpData$ | async as snpData"
        #faireStatistics
        [objectData]="snpData?.faireData || []"
        [tableColumnModel]="clColumnModel"
        [sortData]="sortData"
        [initialDisplayedColumns]="clDisplayedColumns"
        [getSnpName]="_createSnpName(snpData)"
        [isCl]="false"
        (downloadSnpInfo)="_downloadFile($event, 'faire')"
    >
    </asb-statistics>
</ng-template>

<ng-template #noMotifAnalysisTemplate>
    <div
        [joyrideStep]="'motif-analysis'"
        [stepContent]="stepTemplate"
        [stepContentParams]="getTextByStepName('motif-analysis')"
    >
        <h6>No data available</h6>
    </div>
</ng-template>

<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
    <span *ngIf="value == null">n/a</span>
    <asb-sci-notation
        *ngIf="value !== null"
        [value]="value"
        [toInvert]="true"
    ></asb-sci-notation>
</ng-template>
