<ng-container
    [ngSwitch]="article"
>
    <span *ngSwitchCase="'adastra'">
    <b>Statistical framework for calling allelic imbalance in high-throughput sequencing data.</b><span *ngIf="isAbout"><br>
     Andrey Buyan, Georgy Meshcheryakov, Viacheslav Safronov, Sergey Abramov, Alexandr Boytsov, Vladimir Nozdrin, Eugene F. Baulin, Semyon Kolmykov, Jeff Vierstra, Fedor Kolpakov, Vsevolod J. Makeev, Ivan V. Kulakovskiy <br></span> <span style="white-space: nowrap"> doi:
        <a
            href="https://doi.org/10.1038/s41467-024-55513-2"
            target="_blank"
            rel="noopener noreferer"
        >
            10.1038/s41467-024-55513-2
        </a>
        </span>
    </span>
</ng-container>
