
<span *ngIf="article === 'adastra'">
<b>Landscape of allele-specific transcription factor binding in the human genome.</b><span *ngIf="isAbout"><br>
Sergey Abramov, Alexandr Boytsov, Dariia Bykova, Dmitry D. Penzar, Ivan Yevshin, Semyon K. Kolmykov, Marina V. Fridman, Alexander V. Favorov, Ilya E. Vorontsov, Eugene Baulin, Fedor Kolpakov, Vsevolod J. Makeev, Ivan V. Kulakovskiy. <br></span> <span style="white-space: nowrap"> doi:
    <a
        href="https://www.nature.com/articles/s41467-021-23007-0"
        target="_blank"
        rel="noopener noreferer"
    >
            10.1038/s41467-021-23007-0
    </a>
    </span>
</span>
<span *ngIf="article === 'ananas'">
<b>ANANASTRA: annotation and enrichment analysis of allele-specific transcription factor binding at SNPs.</b><span *ngIf="isAbout"><br>
Alexandr Boytsov, Sergey Abramov, Ariuna Z Aiusheeva, Alexandra M Kasianova, Eugene Baulin, Ivan A Kuznetsov, Yurii S Aulchenko, Semyon Kolmykov, Ivan Yevshin, Fedor Kolpakov, Ilya E Vorontsov, Vsevolod J Makeev, Ivan V Kulakovskiy.<br></span> <span style="white-space: nowrap"> <ng-content></ng-content>
    <span *ngIf="isAbout">doi: </span>
    <a
        href="https://doi.org/10.1093/nar/gkac262"
        target="_blank"
        rel="noopener noreferer"
    >
            <span *ngIf="!isAbout">doi:</span>10.1093/nar/gkac262
    </a>
    </span>
</span>
