
<div>
<b>Landscape of allele-specific transcription factor binding in the human genome</b><br>
Sergey Abramov, Alexandr Boytsov, Dariia Bykova, Dmitry D. Penzar, Ivan Yevshin, Semyon K. Kolmykov, Marina V. Fridman, Alexander V. Favorov, Ilya E. Vorontsov, Eugene Baulin, Fedor Kolpakov, Vsevolod J. Makeev, Ivan V. Kulakovskiy<br>
bioRxiv 2020.10.07.327643. doi:
    <a
        href="https://doi.org/10.1101/2020.10.07.327643"
        target="_blank"
        rel="noopener noreferer"
    >
            10.1101/2020.10.07.327643
    </a>
</div>
