<div class="color-scales">
    <div>
        <img
            class="color-scales__images"
            [src]="'assets/images/scale_' + refBase +'.svg'"
            alt="color scale ref"
        >
        <h6 style="text-align: center;">-log10 FDR of Ref (<strong [ngStyle]="{'color': colors[refBase]}">{{refBase}}</strong>) ASB</h6>
    </div>
    <div>
        <img
            class="color-scales__images"
            [src]="'assets/images/scale_' + altBase +'.svg'"
            alt="color scale alt"
        >
        <h6 style="text-align: center;">-log10 FDR of Alt (<strong [ngStyle]="{'color': colors[altBase]}">{{altBase}}</strong>) ASB</h6>
    </div>
</div>
