<div class="container pb-3" style="background-color: white">
    <h3>Contacts</h3>
    <div class="container">
        <h4>Corresponding authors</h4>
        <hr class="v-divider" style="margin: 0">
        <ul class="asb-contacts">
            <li class="asb-contacts__section">
                <span class="asb-contacts__section-name">Ivan Kulakovskiy</span>
                <img
                    [src]=""
                    alt="email pic"
                >
            </li>
            <li class="asb-contacts__section">
                <span class="asb-contacts__section-name">Vsevolod Makeev</span>
                <img
                    [src]=""
                    alt="email pic"
                >
            </li>
        </ul>
        <h4>Technical questions</h4>
            <div>
                <hr class="v-divider" style="margin: 0">
                <ul class="asb-contacts">
                    <li class="asb-contacts__section">
                        <span class="asb-contacts__section-name">Sergey Abramov</span>
                        <img
                            [src]=""
                            alt="email pic"
                        >
                    </li>
                    <li class="asb-contacts__section">
                        <span class="asb-contacts__section-name">Alexandr Boytsov</span>
                        <img
                            [src]=""
                            alt="email pic"
                        >
                    </li>
                </ul>
            </div>
    </div>
</div>
