<div>
<div class="min-height-comp">
<div style="background: white" class="container px-0">
    <div class="mat-elevation-z2 pb-3 pt-0 container px-0">
        <h4
            class="theme-primary-border container"
            style="overflow: auto;line-height: 1.5; margin-bottom: 0; text-align: center"
        >ANANASTRA report (<b
            [matTooltipClass]="'big-font'"
            (click)="copyTicket()"
            [matTooltip]="getTooltip(((pingData$ | async)?.expirationDate | date: 'medium'))"
            class="theme-accent-color-font"
            joyrideStep="ticket"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('ticket')"
            [prevTemplate]="prevTemplate"
            [nextTemplate]="nextTemplate"
            (next)="initTableLoad(true)"
            [doneTemplate]="doneTemplate"
        >{{ticket}}</b>)
                <span style="white-space: nowrap" *ngIf="(pingData$ | async)?.dateCreated">
              {{(pingData$ | async)?.dateCreated | date: 'MMM d, y, h:mm a'}}</span>
            <span style="white-space: pre-wrap"
                  class="d-none d-sm-inline"
                  *ngIf="!(ticketProcessing$ | async)">
                 - based on ADASTRA release
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    [href]="'https://adastra.autosome.ru/' + recentRelease.url"
                >{{recentRelease.name}}</a>
            </span>
        </h4>
        <div class="centered-spinner container" *ngIf="ticketProcessing$ | async; else failedTemplate">
            <div class="help-message">
                <h5>Please wait, the annotation of your list may take a few minutes depending on the number of submitted
                    SNPs.</h5>
                <ng-container *ngIf="pingData$ | async as ping">
                    <h6 *ngIf="ping.processingStartedAt">
                        Processing started at: {{ping.processingStartedAt | date: 'medium'}}
                    </h6>
                    <ng-container *ngIf="ping.positionInQueue">
                        <h6> ETA to start: {{(ping.positionInQueue * 1.5).toFixed(0)}}min</h6>
                        <h6>Number of other queued jobs: {{ping.positionInQueue}}</h6>
                    </ng-container>
                    <h6 *ngIf="ping.elapsedTime">Elapsed time: {{ping.elapsedTime}}s</h6>
                    <h6 *ngIf="!ping.positionInQueue">Status: {{ping.statusDetails}}</h6>
                </ng-container>
            </div>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
        <div
            class="container"
            style="overflow: auto"
            *ngIf="(fileStatistics$ | async) as fileStatistics">
            <ng-container *ngIf="!fileStatistics.loading && fileStatistics.data as data; else loadingTemplate">
                <mat-tab-group
                    #tabGroup
                    mat-align-tabs="center"
                    dynamicHeight
                    [selectedIndex]="selectedTab"
                    (selectedIndexChange)="tabIndexChanged($event)"
                    animationDuration="0ms"
                >
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span
                                joyrideStep="sum-head"
                                [stepContent]="stepTemplate"
                                [stepContentParams]="getTextByStepName('sum-head')"
                                (next)="chrPanelOpened = true"
                            >Summary</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <div class="mx-1 pt-1">
                                <h5 class="help-message"
                                    style="text-align: center">{{data.metaInfo.asbCount}} SNPs exhibiting allele-specific binding found among
                                    <span
                                        [matTooltip]="countTooltip(data.metaInfo)"
                                        matTooltipClass="big-font"
                                    >
                                        {{data.metaInfo.totalUnqiueSNPs}} user-submitted SNPs.</span> <span style="white-space: nowrap">&nbsp;Background: <u>{{optionToView(data.metaInfo.background)}}</u>
                                    <mat-icon style="margin-left: 3px; cursor: pointer; transform: scale(0.85)"
                                              routerLink="/help"
                                              fragment="background"
                                              matTooltipClass="big-font"
                                              [matTooltip]="getHelpTooltip(data.metaInfo.background) + ' Click to open help page.'"
                                              svgIcon="help"></mat-icon></span></h5>
                                <astra-ticket-stats
                                    [chartData]="data"
                                    [chartLoaded]="chartLoaded"
                                    [chrPanelOpened]="chrPanelOpened"
                                    (statsLastStep)="selectTabById(1)"
                                ></astra-ticket-stats>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab >
                        <ng-template mat-tab-label>
                        <span
                          joyrideStep="tf-head"
                          [stepContent]="stepTemplate"
                          [stepContentParams]="getTextByStepName('tf-head')"
                          (prev)="selectTabById()"
                        >Transcription factors</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <div class="mx-1 pt-1">
                                <ng-container *ngIf="isExpanded && (tfTableData$ | async) as tfTableData">
                                    <astra-ticket-table-preview
                                        [ticketStatistics]="data"
                                        [isExpanded]="isExpanded"
                                        [chartsLoaded]="chartLoaded"
                                        [paginatorLength]="tfTableData.total"
                                        [dataLoading]="tfTableData.loading"
                                        [data]="getDataObservable(tfTableData$)"
                                        (tableChangesEmitter)="tableChanged($event)"
                                        [(panelExpanded)]="panelExpanded"
                                        [tfOrCl]="'tf'"
                                        [selectedName]="selectedName.tf"
                                        (selectedNameChange)="changedName($event, 'tf')"
                                        (groupValueEmitter)="groupValueChanged($event)"
                                        (downloadTableEmitter)="downloadTable('tf')"
                                    >
                                    </astra-ticket-table-preview>
                                </ng-container>
                                <ng-container *ngIf="!isExpanded && (tfTableDataSum$ | async) as tfTableData">
                                    <astra-ticket-table-preview
                                        [ticketStatistics]="data"
                                        [isExpanded]="isExpanded"
                                        [chartsLoaded]="chartLoaded"
                                        [paginatorLength]="tfTableData.total"
                                        [data]="getDataObservable(tfTableDataSum$)"
                                        [(panelExpanded)]="panelExpanded"
                                        (tableChangesEmitter)="tableChanged($event)"
                                        [dataLoading]="tfTableData.loading"
                                        [selectedName]="selectedName.tfSum"
                                        (selectedNameChange)="changedName($event, 'tfSum')"
                                        [tfOrCl]="'tf'"
                                        (groupValueEmitter)="groupValueChanged($event)"
                                        (downloadTableEmitter)="downloadTable('tf')"
                                    >
                                    </astra-ticket-table-preview>
                                </ng-container>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab >
                        <ng-template mat-tab-label>
                        <span
                            joyrideStep="cl-head"
                            [stepContent]="stepTemplate"
                            [stepContentParams]="getTextByStepName('cl-head')"
                        >Cell types</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <div class="mx-1 pt-1" [ngStyle]="{'min-height': 50 * 8 + 'px' }">
                                <ng-container *ngIf="isExpanded && (clTableData$ | async) as clTableData">
                                    <astra-ticket-table-preview
                                        [ticketStatistics]="data"
                                        [isExpanded]="isExpanded"
                                        [dataLoading]="clTableData.loading"
                                        [chartsLoaded]="chartLoaded"
                                        [paginatorLength]="clTableData.total"
                                        [data]="getDataObservable(clTableData$)"
                                        [(panelExpanded)]="panelExpanded"
                                        [selectedName]="selectedName.cl"
                                        (selectedNameChange)="changedName($event, 'cl')"
                                        (tableChangesEmitter)="tableChanged($event)"
                                        [tfOrCl]="'cl'"
                                        (groupValueEmitter)="groupValueChanged($event)"
                                        (downloadTableEmitter)="downloadTable('cl')"
                                    >
                                    </astra-ticket-table-preview>
                                </ng-container>
                                <ng-container *ngIf="!isExpanded && (clTableDataSum$ | async) as clTableData">
                                    <astra-ticket-table-preview
                                        [ticketStatistics]="data"
                                        [isExpanded]="isExpanded"
                                        [chartsLoaded]="chartLoaded"
                                        [data]="getDataObservable(clTableDataSum$)"
                                        [(panelExpanded)]="panelExpanded"
                                        [paginatorLength]="clTableData.total"
                                        [dataLoading]="clTableData.loading"
                                        (tableChangesEmitter)="tableChanged($event)"
                                        [selectedName]="selectedName.clSum"
                                        (selectedNameChange)="changedName($event, 'clSum')"
                                        [tfOrCl]="'cl'"
                                        (groupValueEmitter)="groupValueChanged($event)"
                                        (downloadTableEmitter)="downloadTable('cl')"
                                    >
                                    </astra-ticket-table-preview>
                                </ng-container>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span
                                joyrideStep="downloads"
                                [stepContent]="stepTemplate"
                                [stepContentParams]="getTextByStepName('downloads')"
                            >Downloads</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <div style="margin-top: 0.5rem">
                            <table class="cute-table">
                                <tbody>
                                <tr>
                                    <td>ADASTRA annotation of SNPs</td>
                                    <td><a
                                        href="#"
                                        (click)="downloadTable('all', true); $event.preventDefault()"
                                    >{{getFileName('all', true)}}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Unmapped IDs (not found in ANANASTRA)</td>
                                    <td><a
                                        href="#"
                                        (click)="downloadTable('not_found', true); $event.preventDefault()"
                                    >{{getFileName('not_found', true)}}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Annotation with TF-ASBs, collapsed by SNP</td>
                                    <td><a
                                        href="#"
                                        (click)="downloadTable('tf', false); $event.preventDefault()"
                                    >{{getFileName('tf', false)}}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Annotation with TF-ASBs, one record per ASB</td>
                                    <td><a href="#"
                                        (click)="downloadTable('tf', true); $event.preventDefault()"
                                    >{{getFileName('tf', true)}}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Annotation with cell type-ASBs, collapsed by SNP</td>
                                    <td><a
                                        href="#"
                                        (click)="downloadTable('cl', false); $event.preventDefault()"
                                    >{{getFileName('cl', false)}}
                                    </a></td>
                                </tr>
                                <tr>
                                    <td>Annotation with cell type-ASBs, one record per ASB</td>
                                    <td><a
                                        href="#"
                                        (click)="downloadTable('cl', true); $event.preventDefault()"
                                    >{{getFileName('cl', true)}}
                                    </a></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
        </div>

    </div>

</div>
</div>
<asb-tour-button
    *ngIf="(pingData$ | async)?.status == 'Processed'"
    [buttonClass]="'tour-button'"
    [steps]="steps"
    (tourStarted)="selectTabById()"
></asb-tour-button>
</div>

<ng-template #loadingTemplate>
    <div style="display: flex; justify-content: center" class="pt-3">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>

<ng-template #failedTemplate>
    <ng-container *ngIf="(pingData$ | async) as pData">
        <div class="help-message" *ngIf="pData.status === 'Failed'" style="padding-left: 16px">
            <h5>Failed to annotate SNPs</h5>
            <h6>{{pData?.statusDetails}}</h6>
        </div>
    </ng-container>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #prevTemplate>
    <button mat-stroked-button color="primary">Prev</button>
</ng-template>

<ng-template #nextTemplate>
    <button mat-raised-button color="accent">Next</button>
</ng-template>

<ng-template #doneTemplate>
    <button mat-raised-button color="accent">Exit</button>
</ng-template>
