.query-execute {
  display: flex;
  align-items: center;
}

.help-message {
  padding-bottom: 5px;
}
.mat-expansion-panel-body {
    padding: 0 !important;
}
.cute-table {
    //width: 100%;

    color: #202122;
    margin: 0.5em 0 0 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    & > tr > th,
    & > tr > td,
    & > * > tr > td,
    & > * > tr > th {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
    }
}
