@import "~src/styles/shared/colors.less";
.asb-layout {
    background-color: @grayD;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 104px);
    min-height: -webkit-calc(100vh - 104px);
    min-height: -moz-calc(100vh - 104px);
}
@media only screen and (max-width: 457px) {
    .asb-layout {
        min-height: calc(100vh - 126px);
        min-height: -webkit-calc(100vh - 126px);
        min-height: -moz-calc(100vh - 126px);
    }
}
