<dl class="row">
    <dt
        *ngIf="snpData.cellLines.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB in cell types
    </dt>
    <asb-snp-buttons
        *ngIf="snpData.cellLines.length != 0"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.cellLines"
        [maxObjects]="4"
        [tfOrCl]="'cl'"
        [noButtons]="noButtons"
        [showMoreObjects]="showMoreCellLines"
        (objectsQualChanged)="_showMoreCellLines($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>
    <dt
        *ngIf="snpData.transFactors.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB for transcription factors
    </dt>
    <asb-snp-buttons
        *ngIf="snpData.transFactors.length != 0"
        class="col-sm-7 col-md-8  col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.transFactors"
        [noButtons]="noButtons"
        [tfOrCl]="'tf'"
        [maxObjects]="4"
        [showMoreObjects]="showMoreTfs"
        (objectsQualChanged)="_showMoreTfs($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>
</dl>
