<dl class="row">
    <dt
        *ngIf="!noButtons"
        class="col-auto snp-card__tag align-self-start d-none d-md-block"
        style="vertical-align: center;"
    >
        Sequence
    </dt>
    <dd
        *ngIf="!noButtons"
        style="margin-bottom: 0"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center d-none d-md-block"
    ><h6 style="margin-bottom: 0">{{snpData.context}}</h6></dd>
    <dt
        *ngIf="snpData.cellLines.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB in cell types
    </dt>
    <asb-snp-buttons
        *ngIf="snpData.cellLines.length != 0"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.cellLines"
        [maxObjects]="4"
        [tfOrCl]="'cl'"
        [noButtons]="noButtons"
        [showMoreObjects]="showMoreCellLines"
        (objectsQualChanged)="_showMoreCellLines($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>
    <dt
        *ngIf="snpData.transFactors.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB for transcription factors
    </dt>
    <asb-snp-buttons
        *ngIf="snpData.transFactors.length != 0"
        class="col-sm-7 col-md-8  col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.transFactors"
        [noButtons]="noButtons"
        [tfOrCl]="'tf'"
        [maxObjects]="4"
        [showMoreObjects]="showMoreTfs"
        (objectsQualChanged)="_showMoreTfs($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>

    <dt
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
        *ngIf="!noButtons"
    >

    </dt>
    <dd
        *ngIf="!noButtons"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
    >
        <a
            style="margin-right: 10px"
            mat-raised-button
            color="accent"
            matTooltip="+/-100bp"
            [routerLink]="'/' + (release$ | async).url + '/search/simple'"
            [queryParams]="{pos: (snpData.pos > 100 ? snpData.pos - 100 : '1')
                    + '-' + (snpData.pos + 100) ,
                    chr: snpData.chr, skip_check: '1'}"
        >
            Search SNPs nearby
        </a>
        <a
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [href]="'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position='
            + snpData.chr + ':' + (snpData.pos > 100 ? snpData.pos - 100 : '1')
            + '-' + (snpData.pos + 100) +
            '&hgct_customText=track%20type=bigBed%20name=ADASTra_ASB_SNPs%20' +
             'description=%22ADASTra%20ASB%20SNPs%22%20visibility=full%20bigDataUrl=' +
             serverUrl + '/assets/ADASTra_SNPs.bb&knownGene=full&' +
             'omimAvSnp=full&varsInPubs=full&snpedia=full&hgmd=full'"
        >
            Show in UCSC
        </a>
    </dd>
</dl>
