<div class="container flex-grow-1 mx-md-auto pb-3 px-sm-0 px-md-auto">
    <div class="mat-elevation-z2">
        <asb-search
            [width]="'full'"
            [isAdvanced]="isAdvancedSearch"
            [searchData]="(searchSnpResults$ | async).results"
            (searchPressed)="_handleSearchTemplateChanges($event)"
        ></asb-search>
    </div>
    <div class="d-flex">
        <div class="container-fluid mx-auto" style="padding-bottom: 5px; padding-top: 5px">
            <div class="flex text-xs-right xs-12">
                <div class="text-xs-left">
                    <span class="search-page__text">
                        {{getPhrase((searchSnpResults$ | async),
                        (searchSnpResultsLoading$ | async))}}

                        <mat-button-toggle-group
                            style="background: white"
                            #group="matButtonToggleGroup"
                            [value]="groupValue"
                            appearance="legacy"
                            (change)="_groupToggled($event)">
                            <mat-button-toggle
                                value="card"
                                matTooltip="card view"
                            >
                                <mat-icon class="search-page__icon" svgIcon="card"></mat-icon>
                            </mat-button-toggle>

                            <mat-button-toggle
                                value="list"
                                matTooltip="table view"
                            >
                                <mat-icon class="search-page__icon" svgIcon="list"></mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </span>
                </div>
            </div>
            <div>
                <ng-container *ngIf="!(searchSnpResultsLoading$ | async); else loadingTemplate">
                    <div class="position-relative">
                    <ng-container
                        *ngIf="group.value === 'card'; else tableViewTemplate"

                    >
                        <div class="layout pb-2"
                             style="margin-bottom: 20px"
                             *ngFor="let snp of (searchSnpResults$ | async).results">
                            <a
                                [routerLink]="'/snps/' + snp.rsId + '/' + snp.altBase"
                            >
                                <mat-card
                                    class="search-page__card"
                                    asbElevation
                                    role="group"
                                >
                                    <mat-card-header class="layout border--radius-top-8 row wrap theme--dark">
                                        <mat-card-title>
                                            <asb-snp-header
                                                [data]="snp"
                                                [snpCard]="false"
                                            >
                                            </asb-snp-header>
                                        </mat-card-title>
                                        <mat-card-subtitle>

                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <asb-snp-card
                                            [snpData]="snp"
                                            [noButtons]="true"
                                        >
                                        </asb-snp-card>

                                    </mat-card-content>

                                </mat-card>
                            </a>
                        </div>

                        <div class="search-page-loading"
                             *ngIf="searchSnpResultsChanged$ | async"
                        >
                            <mat-spinner
                                *ngIf="searchSnpResultsChanged$ | async"
                                color="accent"
                                [diameter]="100"
                            ></mat-spinner>
                        </div>
                    </ng-container>
                    </div>

                    <mat-paginator
                        *ngIf="(searchSnpResults$ | async)?.total > 0"
                        class="search-page__paginator"
                        showFirstLastButtons
                        [pageSize]="pagination.pageSize"
                        [length]="(searchSnpResults$ | async)?.total"
                        [pageSizeOptions]="[3, 10, 25, 50, 100]"
                        (page)="_handlePaginationChange(pageModelToChange($event))"
                    ></mat-paginator>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div style="height: 370px">
        <div class="search-page__spinner">
            <mat-progress-spinner
                mode="indeterminate"
                color="accent"
                [diameter]="120"
            ></mat-progress-spinner>
        </div>
    </div>
</ng-template>




<ng-template #tableViewTemplate>
    <div class="mat-elevation-z2">
        <asb-search-table
            #searchTableComponent
            *ngIf="(searchSnpResults$ | async)?.results.length > 0"
            [searchResults$]="searchSnpResults$"
            [paginator]="paginator"
            [dataChanged]="searchSnpResultsChanged$ | async"
            (snpClicked)="_navigateToSnp($event.rsId, $event.alt)"
            (tableChangeEmitter)="_handlePaginationChange($event)"
        >
        </asb-search-table>
    </div>
</ng-template>


