.my-table {
    background-color: #f8f9fa;
    color: #202122;
    margin: 0.5em 0 0 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    & > tr > th,
    & > tr > td,
    & > * > tr > td,
    & > * > tr > th {
        border: 1px solid #a2a9b1;
        padding: 0.2em 0.4em;
    }
}
.preview {
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    color: #007bff
}

.list-circle {
    list-style-type: circle;
}

.mat-expansion-panel-body {
     padding: 0 24px 16px !important;
 }
