<div
    class="container-fluid asb-search py-3"
    style="background-color: white"
    [class._restricted]="width === 'restricted'"
    [class._full]="width === 'full'">
    <div class="asb-search__header">
    <h3>
        {{isAdvanced ? 'Advanced search' : 'Search'}}
    </h3>
        <button
            class="asb-search__header-demo"
            mat-raised-button
            (click)="_initDemo()"
        >
            Try it out
        </button>
    </div>
    <form
        [formGroup]="searchForm"
    >
        <mat-form-field style="margin-right: 15px" *ngIf="!isAdvanced">
            <mat-label>Search by</mat-label>
            <mat-select
                formControlName="searchBy"
            >
                <mat-option value="id">rs ID</mat-option>
                <mat-option value="pos">Genome position</mat-option>
            </mat-select>
        </mat-form-field>

        <ng-container *ngIf="_checkToDisplay('id')">
            <mat-form-field
                floatLabel="always"
                style="padding: 0"
                appearance="outline"
                class="my-custom-component-small"
            >
                    <span matPrefix>rs&nbsp;</span>
                    <input placeholder="e.g. 11260841, 62034351"
                           matInput
                           name="Search SNPs"
                           aria-label="search"
                           formControlName="searchInput"
                    >
                <button
                    type="submit"
                    style="display:none"
                    (click)="_navigateToSearch()">hidden submit</button>
                <button
                    mat-icon-button
                    [hidden]="!searchForm.get('searchInput').value"
                    matSuffix
                    style="height: 100%; width: 100%"
                    (click)="_clearSearchField()"
                >
                    <mat-icon svgIcon="clear"></mat-icon>
                </button>

            </mat-form-field>
        </ng-container>

        <mat-form-field
            *ngIf="_checkToDisplay('pos')"
            style="width: 100px"
        >
            <mat-label>Chromosome</mat-label>
            <mat-select
                formControlName="chromosome"
            >
                <mat-option
                    *ngFor="let chr of listOfChrs"
                            [value]="chr"
                >
                    {{chr}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf="_checkToDisplay('pos')">
            <mat-form-field
                floatLabel="always"
                style="padding: 0; margin-left: 15px"
                appearance="outline"
                class="my-custom-component-small"
            >
                <!--<span matPrefix>{{searchForm.get("chromosome").value}}:&nbsp;</span>-->
                <input
                    placeholder="e.g. 28554168-80422458"
                    matInput
                    name="Search SNPs"
                    aria-label="search"
                    formControlName="searchInput"
                >
                <button
                    type="submit"
                    style="display:none"
                    (click)="_navigateToSearch()"
                >
                    hidden submit
                </button>

                <button
                    mat-icon-button
                    [hidden]="!searchForm.get('searchInput').value || searchForm.get('searchInput').disabled"
                    matSuffix
                    style="height: 100%; width: 100%"
                    (click)="_clearSearchField()"
                >
                    <mat-icon svgIcon="clear"></mat-icon>
                </button>

                <mat-hint
                    *ngIf="searchForm.hasError('wrongPattern')"
                   >
                    * must be from-to
                </mat-hint>
                <mat-hint
                    *ngIf="searchForm.hasError('greater')"
                >
                    * interval end coordinate must be greater than start coordinate
                </mat-hint>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="_checkToDisplay('tf')">
            <mat-form-field
                style="width: 100%; padding: 0"
            >
                <mat-chip-list #chipListTf aria-label="Transcription factor selection">
                    <mat-chip
                        *ngFor="let option of searchForm.get('tfList').value"
                        selectable
                        removable
                        (removed)="_removeChip(option, 'tf')"
                    >
                        {{option}}
                        <mat-icon matChipRemove svgIcon="clear"></mat-icon>
                    </mat-chip>
                    <input
                        #tfInput
                        placeholder="Transcription factors"
                        matInput
                        name="Search CTs"
                        aria-label="search"
                        formControlName="searchTf"
                        [matAutocomplete]="autoTf"
                        [matChipInputFor]="chipListTf"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="_addChip($event, 'tf')"
                    >
                </mat-chip-list>
                <mat-autocomplete #autoTf="matAutocomplete"
                                  autoActiveFirstOption
                                  (optionSelected)="_selectOption($event, 'tf')"
                >
                    <ng-container *ngIf="!(searchOptionsLoading$ | async).tf">
                        <mat-option *ngFor="let option of (searchOptions$ | async).tf" [value]="option.name">
                            <span>{{option.name + " | "}}</span>
                            <small>&nbsp;Total snps: {{option.aggregatedSnpCount}}</small>
                        </mat-option>
                    </ng-container>
                    <mat-option *ngIf="(searchOptionsLoading$ | async).tf">
                        <mat-spinner
                            matSuffix color="accent"
                            [diameter]="12"
                        ></mat-spinner>
                        Loading...
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="_checkToDisplay('cl')">
            <mat-form-field
                style="width: 100%; padding: 0"
            >
                <mat-chip-list #chipListCl aria-label="Cell type selection">
                    <mat-chip
                        *ngFor="let option of searchForm.get('clList').value"
                        selectable
                        removable
                        (removed)="_removeChip(option, 'cl')"
                    >
                        {{option}}
                        <mat-icon matChipRemove svgIcon="clear"></mat-icon>
                    </mat-chip>
                    <input
                        #clInput
                        placeholder="Cell types"
                        matInput
                        name="Search CTs"
                        aria-label="search"
                        formControlName="searchCl"
                        [matAutocomplete]="autoCl"
                        [matChipInputFor]="chipListCl"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="_addChip($event, 'cl')"
                    >
                </mat-chip-list>
                <mat-autocomplete #autoCl="matAutocomplete"
                                  autoActiveFirstOption
                                  (optionSelected)="_selectOption($event, 'cl')"
                >
                    <ng-container *ngIf="!(searchOptionsLoading$ | async).cl">
                        <mat-option *ngFor="let option of (searchOptions$ | async).cl" [value]="option.name">
                            <span>{{option.name + " | "}}</span>
                            <small>&nbsp;Total snps: {{option.aggregatedSnpCount}}</small>
                        </mat-option>
                    </ng-container>
                    <mat-spinner
                        *ngIf="(searchOptionsLoading$ | async).cl"
                        matSuffix color="accent"
                        [diameter]="12"
                    ></mat-spinner>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>
    </form>

    <div class="justify-content-between" style="display: flex; flex-wrap: wrap">
        <div>
            <a
                mat-raised-button
                style="margin-right: 5px"
                [disabled]="(!searchForm.get('searchInput').value && !isAdvanced) || searchForm.invalid"
                (click)="_navigateToSearch()"
            >
                Search
            </a>
            <a
                mat-raised-button
                [routerLink]="isAdvanced ? '/search/simple' : '/search/advanced'"
                [queryParams]="_convertFormToParams(!isAdvanced)"
            >
                {{isAdvanced ? 'simple search' : 'advanced search'}}
            </a>
        </div>
        <button
            *ngIf="isAdvanced"
            mat-stroked-button
            [ngClass]="{'asb-search_light-button': downloadButtonColor === 'primary'}"
            [color]="downloadButtonColor"
            [disabled]="_isSearchDisabled()"
            (click)="_getResultsInCsv()"
        >
            <span class="d-none d-sm-block">Get search results in TSV</span>
            <span class="d-sm-none">Get TSV</span>
        </button>
    </div>
</div>

