<div
    class="container-fluid asb-search py-3"
    style="background-color: white"
    [class._restricted]="width === 'restricted'"
    [class._full]="width === 'full'">
    <h3>Search</h3>
    <form [formGroup]="searchForm">
        <mat-form-field floatLabel="always" style="width: 100%; padding: 0" appearance="outline">

            <input placeholder="e.g. rs11260841, 11:80422458"
                   matInput
                   name="Search SNPs"
                   formGroupName="searchInput"
                   aria-label="search"
                   formControlName="searchInput"
                   (keydown.enter)="_navigateToSearch();"
            >

            <button type="submit" style="display:none">hidden submit</button>
            <a
                mat-icon-button
                [hidden]="!searchForm.get('searchInput').value"
                style="height: 100%"
                matSuffix
                (click)="_clearSearchField()"
            >
                <mat-icon svgIcon="clear"></mat-icon>
            </a>

        </mat-form-field>


        <div class="flex justify-content-end">
            <a
                mat-raised-button
                style="margin-right: 5px"
                [disabled]="!searchForm.get('searchInput').value"
                (click)="_navigateToSearch()"
            >
                Search
            </a>
            <a
                class="mr-auto"

                mat-raised-button
                (click)="_navigateToAdvancedSearch()"
            >
                advanced search
            </a>
        </div>
    </form>
</div>
