:host ::ng-deep {
    .my-custom-component-small { // add my-custom-component-small class to your mat-form-field element
        .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0 0.6em 0 !important;}
        .mat-form-field-flex > .mat-form-field-suffix { margin: -0.3em 0 -0.3em 0 !important;}

        &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75);
            width: 133.33333%;
        }
    }
}

.asb-search {
    &__search-button {
        position: relative;
        margin-top: 10px;
    }
    &._restricted {
        max-width: 600px;
    }
    &._full {
        width: 100%;
    }
}


.form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.checkbox {
    min-width: 150px;
    min-height: 20px;
    display:flex;
    align-items: center;
}

