<div
    class="asb-search"
    style="background-color: white"
    [class._restricted]="align === 'restricted'"
    [class._full]="align === 'full'">
    <h3>Bla Bla</h3>
    <form [formGroup]="searchForm">
        <div style="display: flex; flex-direction: row">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <a
                        class="input-group-text"
                        id="inputGroup-sizing-md"
                        mat-button
                        [disabled]="!searchForm.get('searchInput').value"
                        (click)="_navigateToSearch()"
                    > Search

                    </a>
                </div>
                <input placeholder="e.g. rs1, 11:80422458"
                       type="text"
                       class="form-control"
                       aria-label="search"
                       formControlName="searchInput"
                       (keydown.enter)="_navigateToSearch();"
                >
                <span class="input-group-btn">
                    <button type="submit" style="display:none">hidden submit</button>
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="_clearSearchField()"
                    >
                        <mat-icon svgIcon="clear"></mat-icon>
                    </button>
                </span>
            </div>
        </div>

        <div class="form-checkboxes">
            <a
                class="checkbox"
                mat-raised-button
                (click)="_navigateToAdvancedSearch()"
            >
                advanced search
            </a>
        </div>
    </form>
</div>
