<div style="width: 100%;">
    <form
        [formGroup]="formGroup"
        style="display: flex; flex-direction: column; align-items: center"
    >
        <div
            style="display: flex; flex-direction: column; align-items: center; width: 100%;"

            astraDragDrop
            (fileDropped)="fileDropped($event)"
            (backgroundChange)="backgroundChanged($event)"
        >
            <mat-form-field
                joyrideStep="text-input"
                [stepContent]="stepTemplate"
                [stepPosition]="'bottom'"
                [stepContentParams]="getTextByStepName('text-input')"
                [prevTemplate]="prevTemplate"
                [nextTemplate]="nextTemplate"
                [doneTemplate]="doneTemplate"
                appearance="outline"
                [ngStyle]="{'background': isHovered ? '#9ecbec' : 'white'}"
                style="width: 100%;"
                floatLabel="always">
              <mat-label></mat-label>
              <textarea
                formControlName="textArea"
                matInput
                placeholder="Provide a list of dbSNP rsIDs or a genomic interval in hg38 coordinates or a vcf file"
                cdkTextareaAutosize
                cdkAutosizeMinRows="6"
                cdkAutosizeMaxRows="6"
              ></textarea>
                <mat-hint *ngIf="formGroup.get('textArea').value as val"
                >
                    {{countStrings(val)}}
                    line{{countStrings(val) > 1 ?
                    's detected in input, will treat them as dbSNP IDs.'
                    : ''}}

                </mat-hint>
            </mat-form-field>

            <div class="file-container"
                 [ngStyle]="{'background': isHovered ? '#9ecbec' : '#f5fcff'}"
                 joyrideStep="file-drop"
                 [stepContent]="stepTemplate"
                 [stepContentParams]="getTextByStepName('file-drop')"
            >
              <input
                hidden
                #fileDropRef
                type="file"
                onclick="value = null"
                (change)="fileBrowseHandler($event.target?.files)"
              >
                <div>
                    <img
                        height="50px"
                        class="d-none d-sm-inline"
                        src="/assets/images/cloud.svg"
                        alt=""
                        style="margin-right: 10px">

                    <span style="margin-right: 10px; font-size: 1.2rem" class="d-none d-sm-inline"
                    >
                        Drag and drop file here or</span>

                    <button
                        style="border-radius: 20px"
                        mat-flat-button
                        color="accent"
                        (click)="fileDropRef.click()"
                    >
                        Browse for file
                    </button>
                </div>
            </div>
        </div>
        <div class="single-file" *ngIf="file !== null">
          <div class="file-icon" style="width: 50px">
            <img src="/assets/images/file.svg" height="40px" alt="">
          </div>
          <div class="info">
            <div style="display: flex; position: relative; justify-content: space-between; align-items: flex-end">
              <div style="display: flex; flex-direction: column; align-items: flex-start">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size, 2) }}
              </p>
              </div>
              <h6
                style="color: #db202f"
                *ngIf="(fileProgress$ | async) === null">
                Loading error
              </h6>
            </div>
            <mat-progress-bar
              mode="determinate"
              [color]="(fileProgress$ | async) == null ? 'warn' : 'primary'"
              [value]="(fileProgress$ | async) == null ? 100 : (fileProgress$ | async)"
            ></mat-progress-bar>
          </div>

          <button mat-icon-button
                  (click)="deleteFile()"
                  style="align-self: flex-end"
          >
            <mat-icon svgIcon="bin"></mat-icon>

          </button>
        </div>
        <div style="display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap">
            <div
                style="display: flex; align-items: center"
            >
                <mat-form-field
                    joyrideStep="fdr-simple"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('fdr-simple')"
                    style="max-width: 80px; margin-right: 10px"
                >
                    <mat-label>FDR threshold</mat-label>
                    <mat-select formControlName="fdr">
                        <mat-option
                            *ngFor="let option of fdrOptions"
                            [value]="option"
                        >
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    style="max-width: 80px; margin-right: 10px"
                >
                    <mat-label>ES threshold</mat-label>
                    <mat-select formControlName="es">
                        <mat-option
                            *ngFor="let option of esOptions"
                            [value]="option"
                        >
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                  color="accent"
                  style="align-self: flex-start; margin-top: 15px; margin-right: 5px"
                  mat-raised-button
                  matTooltipClass="big-font"
                  matTooltip="Please note, that we accept no more than 10000 SNP IDs in a single request."
                  (click)="submit()"
                >
                  Submit
                </button>
            </div>
            <div
                joyrideStep="examples"
                [stepContent]="stepTemplate"
                [stepContentParams]="getTextByStepName('examples')"
                style="margin-top: 15px; margin-right: 5px">
                <button
                    style="margin-right: 10px"
                    mat-raised-button
                    (click)="initDemo(1)"
                    matTooltipClass="big-font"
                    matTooltip="Significant SNPs found in COVID19-hg GWAS meta-analyses round 4 [www.covid19hg.org/results/], C1_ALL: Covid vs. lab/self-reported negative
"
                >
                    Example1
                </button>
                <button
                    mat-raised-button
                    style="margin-right: 10px"
                    (click)="initDemo(2)"
                    matTooltipClass="big-font"
                    matTooltip="Genomic region encompassing NFIA gene encoding Nuclear factor 1 A-type transcription factor"
                >
                    Example2
                </button>
                <button
                    mat-raised-button
                    (click)="initDemo(3)"
                    matTooltipClass="big-font"
                    matTooltip="SNPs associated with Inflammatory bowel disease [doi:10.1038/nature22969]"
                >
                    Example3
                </button>
            </div>
        </div>
    </form>
</div>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #prevTemplate>
    <button mat-stroked-button color="primary">Prev</button>
</ng-template>

<ng-template #nextTemplate>
    <button mat-raised-button color="accent">Next</button>
</ng-template>

<ng-template #doneTemplate>
    <button mat-raised-button color="accent">Exit</button>
</ng-template>
