<div
    class="container mat-elevation-z2"
    style="background: white"
>
    <h4
        style="padding-top: 0.5rem; display: flex"
    >
        <span style="padding-right: 0.5rem; align-self: center;" *ngIf="!isAnanas">Browse</span>
        <span style="padding-right: 0.5rem; align-self: center;" *ngIf="isAnanas">Underlying data</span>
        <mat-button-toggle-group
            style="font-size: 1rem"
            #group="matButtonToggleGroup"
            [value]="initialGroupValue"
            appearance="legacy"
            (change)="_groupToggled($event)"
        >
            <mat-button-toggle
                value="dnase"
            >
                DNase cell types
            </mat-button-toggle>
            <mat-button-toggle
                value="atac"
            >
                ATAC-seq cell types
            </mat-button-toggle>

            <mat-button-toggle
                value="faire"
            >
                Faire cell types
            </mat-button-toggle>
        </mat-button-toggle-group>
    </h4>

    <div
        *ngIf="(browseAtacInfoInitialized$ | async)
            || (browseDnaseInfoInitialized$ | async)
            || (browseFaireInfoInitialized$ | async)"
        style="margin-bottom: -16px"
    >
        <mat-form-field >
            <mat-label>Filter</mat-label>
            <span matPrefix><mat-icon svgIcon="search"></mat-icon></span>
            <input [formControl]="searchForm"
                   matInput
                   placeholder="e.g. MCF7"
            >
        </mat-form-field>

        <ng-container [ngSwitch]="group.value">
            <ng-container *ngSwitchCase="'atac'">
                <asb-table-server
                    #tableAtacView
                    *ngIf="browseAtacInfoInitialized$ | async"
                    [data]="tableAtacData$"
                    [isSearched]="!!this.searchForm.value"
                    [dataLoading]="browseAtacInfoLoading$ | async"
                    [displayedColumns]="atacDisplayedColumns"
                    [columnModel]="columnModel"
                    [paginatorPageSize]="25"
                    [paginatorOptions]="_getPaginatorOptions(((browseAtacInfo$ | async) && (browseAtacInfo$ | async).total))"
                    [clickableRow]="true"
                    [paginatorLength]="(browseAtacInfo$ | async) && (browseAtacInfo$ | async).total"
                    (rowClickEmitter)="_handleTableRowClick($event, 'atac')"
                    (tableChangesEmitter)="_handleTableChange($event, 'atac')"
                >
                </asb-table-server>
            </ng-container>
            <ng-container *ngSwitchCase="'dnase'">
                <asb-table-server
                    #tableDnaseView
                    *ngIf="browseDnaseInfoInitialized$ | async"
                    [data]="tableDnaseData$"
                    [isSearched]="!!this.searchForm.value"
                    [dataLoading]="browseDnaseInfoLoading$ | async"
                    [displayedColumns]="dnaseDisplayedColumns"
                    [columnModel]="columnModel"
                    [paginatorPageSize]="25"
                    [paginatorOptions]="_getPaginatorOptions(
                        ((browseDnaseInfo$ | async) && (browseDnaseInfo$ | async).total))"
                    [clickableRow]="true"
                    [paginatorLength]="(browseDnaseInfo$ | async) && (browseDnaseInfo$ | async).total"
                    (rowClickEmitter)="_handleTableRowClick($event, 'dnase')"
                    (tableChangesEmitter)="_handleTableChange($event, 'dnase')"
                >
                </asb-table-server>
            </ng-container>
            <ng-container *ngSwitchCase="'faire'">
                <asb-table-server
                    #tableFaireView
                    *ngIf="browseFaireInfoInitialized$ | async"
                    [data]="tableFaireData$"
                    [isSearched]="!!this.searchForm.value"
                    [dataLoading]="browseFaireInfoLoading$ | async"
                    [displayedColumns]="faireDisplayedColumns"
                    [columnModel]="columnModel"
                    [paginatorPageSize]="25"
                    [paginatorOptions]="_getPaginatorOptions(
                        ((browseFaireInfo$ | async) && (browseFaireInfo$ | async).total))"
                    [clickableRow]="true"
                    [paginatorLength]="(browseFaireInfo$ | async) && (browseFaireInfo$ | async).total"
                    (rowClickEmitter)="_handleTableRowClick($event, 'faire')"
                    (tableChangesEmitter)="_handleTableChange($event, 'faire')"
                >
                </asb-table-server>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-container *ngIf="((browseAtacInfoLoading$ | async) &&
 !(browseAtacInfoInitialized$ | async)) || ((browseDnaseInfoLoading$ | async) &&
   !(browseDnaseInfoInitialized$ | async))">
    <div class="asb-browse__spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-container>

<ng-template #uniprotViewTemplate let-value="value">
    <a
        (click)="$event.stopPropagation()"
        [href]="'https://www.uniprot.org/uniprot/' +  value"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #cellTypeViewTemplate let-value="value" let-row="row">
    <a
        style="min-width: 50px"
        (click)="$event.stopPropagation()"
        [href]="'http://gtrd.biouml.org/#!table/gtrd_current.cells/Details/ID=' + value"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

