<h4
    *ngIf="snpCard"
    style="padding-top: .5rem"
>
    <a
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://www.ncbi.nlm.nih.gov/snp/' + data.rsId"
    >
        {{data.rsId}}</a>
     {{data.chr}}:{{data.pos }}
    <strong
        [ngStyle]="{'color': colors[data.refBase]}"
    >{{data.refBase}}</strong>
    <span>></span>
    <strong
        [ngStyle]="{'color': colors[data.altBase]}"
    >{{data.altBase}}</strong>
</h4>
<h4 *ngIf="!snpCard">
    {{data.rsId}} {{data.chr}}:{{data.pos }}
    <strong
    [ngStyle]="{'color': colors[data.refBase]}">{{data.refBase}}</strong>
    <span>></span>
    <strong
        [ngStyle]="{'color': colors[data.altBase]}"
    >{{data.altBase}}</strong>
</h4>
