<h4
    joyrideStep="snp-header"
    [stepContent]="stepTemplate"
    [stepContentParams]="getTextByStepName('snp-header')"
    *ngIf="snpCard"
    style="padding-top: .5rem"
>
    <a
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://www.ncbi.nlm.nih.gov/snp/' + data.rsId"
    >
        {{data.rsId}}</a>
    <ng-container *ngTemplateOutlet="colorLettersTemplate"></ng-container>
</h4>
<h4 *ngIf="!snpCard">
    <span>{{data.rsId}}</span>
    <ng-container *ngTemplateOutlet="colorLettersTemplate"></ng-container>
</h4>

<ng-template #colorLettersTemplate>
    {{data.chr}}:{{data.pos }}
    <strong
        [ngStyle]="{'color': colors[data.refBase]}">{{data.refBase}}</strong>
    <span>></span>
    <strong
        [ngStyle]="{'color': colors[data.altBase]}"
    >{{data.altBase}}</strong>
</ng-template>


<ng-template #stepTemplate let-text=text>
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
