<h2 *ngIf="snpCard">
    <a
        target="_blank" rel="noopener noreferrer"
        [href]="'https://www.ncbi.nlm.nih.gov/snp/' + data.rsId"
    >
        {{data.rsId}}</a>
     {{data.chr}}:{{data.pos }}
    <strong
        [ngStyle]="{'color': colors[data.refBase]}"
    >{{data.refBase}}</strong>
    <span>></span>
    <strong
        [ngStyle]="{'color': colors[data.altBase]}"
    >{{data.altBase}}</strong>
</h2>
<h2 *ngIf="!snpCard">
    {{data.rsId}} {{data.chr}}:{{data.pos }}
    <strong
    [ngStyle]="{'color': colors[data.refBase]}">{{data.refBase}}</strong>
    <span>></span>
    <strong
        [ngStyle]="{'color': colors[data.altBase]}"
    >{{data.altBase}}</strong>
</h2>
