<ng-container *ngIf="phenotypesDb.length > 0; else emptyContentTemplate">
    <dl class="row px-0 mx-0"
        *ngFor="let db of phenotypesDb"
    >
        <dt
            class="col-auto" style="padding-left: 0"
        >
            <a
                [href]="phenToLink[db](snpData.rsId)"
                target="_blank"
                rel="_noopener _noreferrer"
            >
                {{phenToView[db]}}
            </a>
        </dt>
        <dd>
            <span>
                <span
                    *ngFor="let phenotype of snpData.phenotypes[db]; let last=last"
                    style="display: flex; flex-wrap: wrap"
                >
                    {{phenotype}}<span *ngIf="!last">,&nbsp;</span>
                </span>
            </span>
        </dd>
    </dl>
</ng-container>

<ng-template #emptyContentTemplate>
    <h6>No data available</h6>
</ng-template>
