<ng-container *ngIf="phenotypesDb.length > 0; else emptyContentTemplate">
    <div class="px-0 mx-0 py-1"
          style="line-height: 1.8rem"
        *ngFor="let db of phenotypesDb"
    >
        <b
            class="col-auto" style="padding-left: 0;"
        >
            <a
                [href]="phenToLink[db](snpData.rsId)"
                target="_blank"
                rel="_noopener _noreferrer"
            >
                {{phenToView[db]}}
            </a>
        </b>
        <span >
            <span>
                <span
                    style="padding-bottom: 0.5rem"
                    *ngFor="let phenotype of snpData.phenotypes[db]; let last=last"
                >
                    {{phenotype}}<span *ngIf="!last">,&nbsp;</span>
                </span>
            </span>
        </span>
        <br>
    </div>
</ng-container>

<ng-template #emptyContentTemplate>
    <h6>No data available</h6>
</ng-template>
