<div>
<div
    class="container flex-grow-1 mx-md-auto px-0 px-md-auto search-page">
    <div class="mat-elevation-z2">
        <asb-search
            #searchComponent
            [width]="'full'"
            [isAdvanced]="isAdvancedSearch"
            [searchData]="(searchSnpResults$ | async).results"
            [selectedGene]="selectedGene$ | async"
            (searchPressed)="_handleSearchTemplateChanges($event)"
            (nextStep)="checkResult()"
        ></asb-search>
    </div>

    <div class="d-flex">
        <div  style="padding-bottom: 5px; padding-top: 5px; width: 100%">
            <div class="flex text-xs-right xs-12">
                <div class="text-xs-left" style="overflow: auto; line-height: 2.5;">
                    <span class="search-page__text px-3">
                        {{getPhrase((searchSnpResults$ | async),
                        (searchSnpResultsLoading$ | async))}}

                        <mat-button-toggle-group
                            style="background: white"
                            joyrideStep="search-view"
                            [stepContent]="stepTemplate"
                            [stepContentParams]="getTextByStepName('search-view')"
                            (next)="group.value = 'card'"
                            #group="matButtonToggleGroup"
                            [value]="groupValue"
                            appearance="legacy"
                            (change)="_groupToggled($event)">
                            <mat-button-toggle
                                value="card"
                                matTooltip="Card view"
                            >
                                <mat-icon class="search-page__icon" svgIcon="card"></mat-icon>
                            </mat-button-toggle>

                            <mat-button-toggle
                                value="list"
                                matTooltip="Table view"
                            >
                                <mat-icon class="search-page__icon" svgIcon="list"></mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </span>
                </div>
            </div>
            <div>
                <ng-container *ngIf="(searchSnpResultsLoading$ | async) === false; else loadingTemplate">
                    <div
                        class="position-relative"
                        style="overflow: auto;"
                    >
                    <ng-container
                        *ngIf="group.value === 'card'; else tableViewTemplate"

                    >
                        <div class="position-relative mx-3">
                        <div class="layout pb-2" style="margin-bottom: 20px"

                             *ngFor="let snp of (searchSnpResults$ | async).results; let i = index">
                            <a
                                [routerLink]="'/' + (release$ | async).url + '/snps/' + snp.rsId + '/' + snp.altBase"
                                [queryParams]="{fdr: fdr, es: es}"
                            >
                                <mat-card

                                    class="search-page__card"
                                    asbElevation
                                    role="group"
                                >
                                    <mat-card-header >
                                        <mat-card-title
                                        >
                                            <asb-snp-header
                                                [data]="snp"
                                                [snpCard]="false"
                                            >
                                            </asb-snp-header>
                                        </mat-card-title>
                                        <asb-view-star
                                            class="ml-auto"
                                            *ngIf="snp.hasConcordance && !isAdvancedSearch"
                                        ></asb-view-star>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <asb-snp-card
                                            [index]="i"
                                            [snpData]="snp"
                                            [noButtons]="true"
                                        >
                                        </asb-snp-card>

                                    </mat-card-content>

                                </mat-card>
                            </a>
                        </div>

                        <div class="search-page-loading"
                             *ngIf="searchSnpResultsChanged$ | async"
                        >
                            <mat-spinner
                                *ngIf="searchSnpResultsChanged$ | async"
                                color="accent"
                                [diameter]="100"
                            ></mat-spinner>
                        </div>
                        </div>
                    </ng-container>
                    </div>

                    <mat-paginator
                        *ngIf="(searchSnpResults$ | async)?.total > 0"
                        class="search-page__paginator mx-3"
                        showFirstLastButtons
                        [pageSize]="pagination.pageSize"
                        [length]="(searchSnpResults$ | async)?.total"
                        [pageSizeOptions]="[3, 5, 10, 25, 50, 100]"
                        [pageIndex]="pagination.pageIndex"
                        (page)="_handlePaginationChange(pageModelToChange($event))"
                    ></mat-paginator>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<asb-tour-button
    [steps]="tourSteps"
></asb-tour-button>
</div>

<ng-template #loadingTemplate>
    <div style="height: 370px">
        <div class="search-page__spinner">
            <mat-progress-spinner
                mode="indeterminate"
                color="accent"
                [diameter]="100"
            ></mat-progress-spinner>
        </div>
    </div>
</ng-template>




<ng-template #tableViewTemplate>
    <div class="container-fluid">
        <div class="mat-elevation-z2">
            <asb-search-table
                #searchTableComponent
                *ngIf="(searchSnpResults$ | async)?.results.length > 0"
                [searchResults$]="searchSnpResults$"
                [paginator]="paginator"
                [isAdvanced]="isAdvancedSearch"
                [initialSort]="{active: pagination.active, direction: pagination.direction}"
                [dataChanged]="searchSnpResultsChanged$ | async"
                (snpClicked)="_navigateToSnp($event.rsId, $event.alt)"
                (tableChangeEmitter)="_handlePaginationChange($event)"
            >
            </asb-search-table>
        </div>
    </div>
</ng-template>

<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>

