<div class="ananas-layout">
    <asb-ananastra-header></asb-ananastra-header>
    <router-outlet></router-outlet>
<!--    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; height: calc(100vh - 56px - 2rem)">-->
<!--    <h1 class="error-code"><strong>Update in progress</strong></h1>-->
<!--    <span style="font-size: 2rem">It may take 2-7 days to complete. We apologize for the inconvenience.</span>-->
<!--    </div>-->
</div>

<ng-template #cookiesDialogTemplate>
    <div mat-dialog-content style="max-width: 430px">
        This site uses cookies from Google to deliver its services and to analyze traffic.
    </div>
    <mat-dialog-actions align="end">
        <a mat-button href="https://policies.google.com/technologies/cookies">More details</a>
        <button mat-button [mat-dialog-close]="true" (click)="saveCookiesConsent()">Ok, got it</button>
    </mat-dialog-actions>
</ng-template>
