<div class="ananas-layout">
<!--    <div style="display: flex; justify-content: center; align-items: center">-->
<!--        <h4 style="margin-bottom: 0; padding: 5px 16px; text-align: center">-->
<!--            We, Russian scientists, authors and developers of ANANASTRA would like to express our condemnation of Russian military actions in Ukraine,-->
<!--            our condolence to all people affected and hope for the soonest turn to peace.-->
<!--        </h4>-->
<!--    </div>-->
    <asb-ananastra-header></asb-ananastra-header>
    <router-outlet></router-outlet>
<!--    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; height: calc(100vh - 56px - 2rem)">-->
<!--    <h1 class="error-code"><strong>Update in progress</strong></h1>-->
<!--    <span style="font-size: 2rem">It may take 2-7 days to complete. We apologize for the inconvenience.</span>-->
<!--    </div>-->
</div>
