<asb-table
    #tableView
    [data]="innerTableData"
    [displayedColumns]="displayedColumns"
    [columnModel]="columnModel"
    [externalPaginator]="paginator"
>
</asb-table>
<mat-paginator #paginator
               [pageSizeOptions]="_getPaginatorOptions()"
               showFirstLastButtons
></mat-paginator>
<ng-template #alignTemplate let-value="value">
    <a
        *ngIf="value"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'http://gtrd.biouml.org/'"
    >
        {{value}}
    </a>
</ng-template>
