<asb-layout>
    <router-outlet></router-outlet>
</asb-layout>

<ng-template #popoverTemplate>
    <h1
        style="display: flex; justify-content: flex-end; margin-bottom: 0;"
        mat-dialog-title
    >
        Newer version of website is available,
        do you want to update (page will be refreshed)
        <button mat-dialog-close
                mat-icon-button tabindex="1">
            <mat-icon svgIcon="clear"></mat-icon>
        </button>
    </h1>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent"  [mat-dialog-close]="true">Yes</button>
        <button mat-stroked-button  mat-dialog-close>No</button>
    </mat-dialog-actions>

</ng-template>
