<div class="asb-table" *ngIf="_dataSource.data.length >0; else emptyContentTemplate">
    <div class="asb-table__table" style="min-width: 100%">
        <table
            style="padding-left: 5px; padding-right: 5px"
            #table
            mat-table
            matSort
            #sort1="matSort"
            (matSortChange)="_changeCurrentSortDirection($event)"
            [dataSource]="_dataSource"
            [multiTemplateDataRows]="!!expandCellContentTemplate"
        >
            <!-- Expanded Content Column -->

            <ng-container matColumnDef="__expanded__">
                <td
                    mat-cell
                    *matCellDef="let row"
                    [attr.colspan]="displayedColumns.length"
                >
                    <div class="asb-table__table-expand-inner"
                         [@detailExpand]="row === _expandedRow ? 'expanded' : 'collapsed'"
                    >
                        <ng-template
                            [ngTemplateOutlet]="expandCellContentTemplate"
                            [ngTemplateOutletContext]="{row: row}"
                        ></ng-template>
                    </div>
                </td>
            </ng-container>

            <ng-container
                *ngFor="let column of columnModel | keyvalue"
                [matColumnDef]="column.key"
            >
                <th mat-header-cell
                    mat-sort-header
                    [disabled]="column.value?.disabledSort"
                    [matTooltip]="_getTooltipMessage(column.value?.helpMessage)"
                    *matHeaderCellDef>{{column.value.view}}</th>
                <td mat-cell *matCellDef="let row">
                    <ng-container
                        *ngIf="column.value.columnTemplate; else valueConverterTemplate"
                        [ngTemplateOutlet]="column.value.columnTemplate"
                        [ngTemplateOutletContext]="{value: row[column.key], row: row}"
                    ></ng-container>
                    <ng-template #valueConverterTemplate>
                        {{column.value.valueConverter
                        ? column.value.valueConverter(row[column.key])
                        : row[column.key]}}
                    </ng-template>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"
                class="asb-table__table-row"
                [class._clickable]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
                [class._borderless]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
                [class._colorClick]="!expandCellContentTemplate && !popoverContentTemplate && clickableRow"
                [ngStyle] = "_calculateColor(row)"
                (click)="_handleRowClick(row)"
            ></tr>
            <ng-container *ngIf="expandCellContentTemplate">
                <tr
                    mat-row *matRowDef="let row; columns: ['__expanded__']"
                    class="asb-table__table-expand-row"
                >
                </tr>
            </ng-container>
        </table>
    </div>
    <mat-paginator
        *ngIf="paginatorOptions"
        [pageSizeOptions]="paginatorOptions"
        showFirstLastButtons
        class="asb-table__paginator"
    ></mat-paginator>
</div>

<asb-popover
    #popover
    align="center"
    [title]="getTitle ? getTitle(popoverRow) : ''"
    (popoverClosed)="_onAdditionalStatisticsClose()"
>
    <ng-container
        [ngTemplateOutlet]="popoverContentTemplate"
        [ngTemplateOutletContext]="{row: popoverRow}"
    ></ng-container>
</asb-popover>

<ng-template #emptyContentTemplate>
    <h5>No data available</h5>
</ng-template>
