@import "../../../../styles/shared/colors.less";


.asb-table{
    position: relative;
    display: flex;
    justify-content: center;


    &__table {
        min-width: 100%;

        &._hidden {
            display: none;
        }

        td, th {
            &:not(:first-of-type) {
                padding-left: 16px
            }

            &:not(:last-of-type) {
                padding-right: 16px
            }
        }

        &-expand {
            tr&-row > td:first-of-type {
                padding-left: 0;
            }
            tr&-row > td:last-of-type {
                padding-right: 0;
            }
            &-inner {
                overflow: hidden;
                display: flex;
            }
            tr&-row.mat-row {
                height: 0;
            }
        }

        &-row {
            &._clickable {
                cursor: pointer;
                &:hover {
                    background-color: tint(@accent_theme_color_50, 60%);
                }
                &:active {
                    background-color: tint(@accent_theme_color_50, 30%);
                }
            }
            &._borderless > td {
                border-bottom-width: 0;
            }
        }
    }

}

