<div class="asb-table">
    <div class="asb-table__table" style="min-width: 100%">
        <table
            style="padding-left: 5px; padding-right: 5px; width:100%"
            #table
            mat-table
            matSort
            [matSortDirection]="initialSort ? initialSort.direction : ''"
            [matSortActive]="initialSort ? initialSort.active : null"
            #sort1="matSort"
            [dataSource]="_dataSource"
            (matSortChange)="externalPaginator ? emitChanges(externalPaginator) : null"
            [multiTemplateDataRows]="!!expandCellContentTemplate"
        >
            <!-- Expanded Content Column -->

            <ng-container matColumnDef="__expanded__">
                <td
                    mat-cell
                    *matCellDef="let row"
                    [attr.colspan]="displayedColumns.length"
                >
                    <div class="asb-table__table-expand-inner"
                         [@detailExpand]="row === _expandedRow ? 'expanded' : 'collapsed'"
                    >
                        <ng-template
                            [ngTemplateOutlet]="expandCellContentTemplate"
                            [ngTemplateOutletContext]="{row: row}"
                        ></ng-template>
                    </div>
                </td>
            </ng-container>

            <ng-container
                *ngFor="let column of columnModel | keyvalue"
                [matColumnDef]="column.key"
            >
                <th mat-header-cell
                    mat-sort-header
                    [disabled]="column.value?.disabledSort"
                    [matTooltip]="column.value?.helpMessage"
                    *matHeaderCellDef>{{column.value.view}}</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [ngStyle]="column.value.colorStyle ?
                     {'background': column.value.colorStyle(row)} : null"
                >
                    <ng-container
                        *ngIf="column.value.columnTemplate; else valueConverterTemplate"
                        [ngTemplateOutlet]="column.value.columnTemplate"
                        [ngTemplateOutletContext]="{value: row[column.key], row: row}"
                    ></ng-container>
                    <ng-template #valueConverterTemplate>
                        {{column.value.valueConverter
                        ? column.value.valueConverter(row[column.key])
                        : row[column.key]}}
                    </ng-template>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"
                class="asb-table__table-row"
                [class._shadows-click]="expandCellContentTemplate || popoverContentTemplate"
                [class._clickable]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
                [class._borderless]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
                [class._colorClick]="!expandCellContentTemplate && !popoverContentTemplate && clickableRow"
                (click)="_handleRowClick(row)"
            ></tr>
            <ng-container *ngIf="expandCellContentTemplate">
                <tr
                    mat-row *matRowDef="let row; columns: ['__expanded__']"
                    class="asb-table__table-expand-row"
                >
                </tr>
            </ng-container>
        </table>
        <div class="asb-table__table-loading"
             *ngIf="dataLoading"
        >
            <mat-spinner
                *ngIf="dataLoading"
                color="accent"
                [diameter]="100"
            ></mat-spinner>
        </div>
    </div>
    <mat-paginator
        *ngIf="paginatorLength"
        [pageSizeOptions]="paginatorOptions"
        [length]="paginatorLength"
        [pageSize]="paginatorPageSize || paginatorOptions[0]"
        showFirstLastButtons
        class="asb-table__paginator"
    ></mat-paginator>
</div>

