<nav
    class="navbar navbar-expand-sm navbar-dark bg-dark mb-0 justify-content-start asb-header"
>
    <button
        class="navbar-toggler"
        aria-label="Toggle navigation"
        type="button"
        (click)="toggleNavbar('toggle')"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <a
        class="navbar-brand"
        [routerLink]="'/'"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
    >
        AD ASTRA database
    </a>
    <div
        class="collapse navbar-collapse  ml-auto p-2 justify-content-end"
        [ngClass]="{'show': navbarOpen }"
    >
        <div class="navbar-nav">
            <a
                class="nav-item nav-link"
                [routerLink]="'/about-us-page'"
                [routerLinkActive]="['active']"
                (click)="toggleNavbar('close')"
            >
                about
            </a>
            <a class="nav-item nav-link"
               [routerLink]="'/snps/rs11260841/A'"
               [routerLinkActive]="['active']"
               (click)="toggleNavbar('close')"
            >
                test
            </a>
            <a class="nav-item nav-link"
               [routerLink]="'/snps/rs62034351/A'"
               [routerLinkActive]="['active']"
               (click)="toggleNavbar('close')"
            >
                test2
            </a>
        </div>
    </div>
</nav>
