<ng-content></ng-content>
<div class="container-fluid px-0 px-sm-2"
     style="padding-top: 5px;"
>
    <div class="row" *ngIf="objectData.length > 0; else emptyContentTemplate" style="overflow: auto !important;">
        <form [formGroup]="tableFormGroup" class="container">
            <div style="margin-bottom: 10px">
                <mat-form-field
                    style="margin-left: 5px; margin-right: 5px"
                    joyrideStep="transcription-factors-columns"
                    [stepContent]="stepTemplate"
                    [stepContentParams]="getTextByStepName('transcription-factors-columns')"
                >
                    <mat-label>Selected columns</mat-label>
                    <mat-select formControlName="columns"
                                multiple
                                (selectionChange)="_changeColumns($event)"
                    >
                        <mat-select-trigger>
                            {{tableFormGroup.get('columns').value ?
                            tableColumnModel[tableFormGroup.get('columns').value[0]]?.view : ''}}
                            <span *ngIf="tableFormGroup.get('columns').value?.length > 1"
                                  class="snp-page__additional-selection"
                            >
                                (+{{tableFormGroup.get('columns').value?.length - 1}}
                                {{tableFormGroup.get('columns').value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option
                            *ngFor="let column of nonStickyColumnModel | keyvalue: originalOrder"
                            [value]="column.key"
                        >
                            {{column.value.view}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    mat-raised-button
                    (click)="_resetFilters()"
                >
                    Reset
                </button>
                <div style="display: flex; justify-content: flex-start; flex-wrap: wrap">
                    <mat-form-field style="margin-left: 5px; margin-right: 5px; width:180px">
                        <input
                            placeholder="Filter"
                            matInput
                            type="text"
                            formControlName="filter"
                        >
                        <button
                            type="submit"
                            style="display:none"
                            (click)="_applyFilter()"
                        >
                            hidden submit
                        </button>
                        <button
                            mat-icon-button
                            [hidden]="!tableFormGroup.get('filter').value"
                            style="margin-left: 5px"
                            matSuffix
                            (click)="_clearFilterField()"
                        >
                            <mat-icon svgIcon="clear"></mat-icon>
                        </button>
                    </mat-form-field>
                    <div style="margin-left:auto">
                        <button
                            mat-raised-button
                            (click)="_getSnpInfoCsv()"
                        >
                            Get TSV
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="snp-page__table-elevation"
         [joyrideStep]="'table' + (isCl ? '1' : '0')"
         [stepContent]="stepTemplate"
         [stepContentParams]="getTextByStepName('table')"
    >
        <asb-table
            #tableViewTFCL
            [columnModel]="tableColumnModel"
            [displayedColumns]="tableDisplayedColumns"
            [isEmpty]="objectData.length == 0"
            [clickableRow]="true"
            [data]="filteredObjectData"
            [actionTemplate]="actionTemplate"
            [sortData]="sortData"
            [popoverContentTemplate]="popoverContentTemplate"
            [getTitle]="getSnpName"
            [paginatorOptions]="_getPaginatorOptions()"
        >
        </asb-table>
    </div>
</div>
<ng-template #actionTemplate let-row="row">
    <button
        *ngIf="actionFilter(row)"
        matTooltip="Go to motif analysis"
        mat-icon-button
        (click)="actionClicked.emit(row); $event.stopPropagation() && $event.preventDefault()"
    >
        <mat-icon svgIcon="stats"></mat-icon>
    </button>
</ng-template>
<ng-template #popoverContentTemplate let-row="row">
    <asb-inner-table
        *ngIf="row"
        [innerTableData]="row.expSnps"
        [isCl]="isCl"
        [sortColumn]="row.pValueRef < row.pValueAlt ? 'ref' : 'alt'"
    ></asb-inner-table>
</ng-template>

<ng-template #emptyContentTemplate>
    <h6>No data available</h6>
</ng-template>

<ng-template #stepTemplate let-text=text>
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
