<div>
    <asb-table
        [data]="innerTableData"
        [displayedColumns]="displayedColumns"
        [columnModel]="columnModel"
        [paginatorOptions]="_getPaginatorOptions()"
        [sortingDataAccessor]="sortingDataAccessor"
        [initialSorting]="initialSorting"
    >

    </asb-table>
</div>

<ng-template #alignTemplate let-value="value" >
    <a
        *ngIf="value"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'http://gtrd.biouml.org/#!table/gtrd_current.experiments/Details/ID='+ value.split('_')[0]"
    >
        {{value}}
    </a>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
    <asb-sci-notation *ngIf="value !== null" [toInvert]="true" [value]="value"></asb-sci-notation>
</ng-template>
