<div *ngIf="chartDatasets.length > 0; else loadingTemplate"
     style="padding-left: 16px; padding-right: 16px"
     joyrideStep="stats"
     [stepContent]="stepTemplate"
     [stepContentParams]="getTextByStepName('stats')"
     class="row"
>
  <div class="wide-chart" style="width: 100%" >
      <div style="max-width: 100%; height: 100%">
            <div style="display: block; width: 100%; height: 100%">
              <canvas
                height="180"
                *ngIf="chartLoaded"
                mdbChart
                chartType="doughnut"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                (chartHover)="chartHovered()"
                (chartClick)="chartClicked()"
              >
              </canvas>
            </div>
      </div>
  </div>
  <div class="col-auto" style="display: flex; align-items: center">
    <ul style="list-style-type: none; padding-inline-start: 0">
      <li>
        <span
        ><b [ngStyle]="{'color': chartColors[0].backgroundColor[0]}">SNPs with significant ASBs ({{stats.fdr}} FDR)</b>: {{stats.asbCount}}</span>
        <span class="additional-selection">&nbsp;(incl. {{stats.tfAsbs}} SNPs with TF-ASBs and {{stats.clAsbs}} SNPs with cell type-ASBs)</span>
      </li>
        <li>
            <span
            ><b
                [ngStyle]="{'color': chartColors[0].backgroundColor[1]}"
            >SNPs without any significant ASBs</b>: {{stats.candidatesCount}}</span>

        </li>
      <li>
                <span
                ><b [ngStyle]="{'color': chartColors[0].backgroundColor[2]}">SNPs with undefined ASB status ({{stats.fdr}} to 0.25 FDR, ignored in assessment)</b>: {{stats.undefinedCount}}</span>
      </li>
        <li>
            <span>
                <b
                    [ngStyle]="{'color': chartColors[0].backgroundColor[3]}"
                >No data on allele-specificity:</b> {{stats.notFound}}
            </span>
        </li>
      <li>
          <b>Observed ASB fraction</b>: {{stats.ratio.toFixed(1)}}% <span class="additional-selection">(Expected: {{stats.expRatio.toFixed(1)}}%)</span>
      </li>
      <li>
          <b>ASB enrichment odds-ratio</b>:
          <b>{{valueToView(stats.oddsRatio)}}</b>
        <span class="additional-selection">
            (SNPs with TF-ASBs: <b>{{valueToView(stats.tfOdds)}}</b>,
          SNPs with cell type-ASBs: <b>{{valueToView(stats.clOdds)}}</b>)</span>
      </li>
      <li>
        <b>Fisher's exact test P-value</b>:
        <b><span
          [innerHTML]="writeScientificNum(stats.pValue, 2)"
        ></span></b>
        <span class="additional-selection"> (SNPs with TF-ASBs:
          <b><span
            [innerHTML]="writeScientificNum(stats.tfPvalue, 2)"
          ></span></b>,
          SNPs with cell type-ASBs:
          <b><span
            [innerHTML]="writeScientificNum(stats.clPvalue, 2)"
          ></span></b>)</span>
      </li>
    </ul>
  </div>
    <div style="width: 100%">
        <mat-divider></mat-divider>
        <mat-expansion-panel #panel
                             expanded
                             class="mat-elevation-z0"
                             style="padding-bottom: 10px"
        >
            <mat-expansion-panel-header [ngClass]="panel.expanded ? '' : 'header'">
                <mat-panel-title><b>ASB enrichment at individual chromosomes</b>&nbsp;&nbsp;<span class="additional-selection">(P-value <b><span
                    [innerHTML]="writeScientificNum(stats.chrPvalue, 2)"
                ></span></b>)</span></mat-panel-title>
            </mat-expansion-panel-header>
            <asb-table
                [columnModel]="columnModel"
                [displayedColumns]="displayedColumns"
                [data]="stats.chrAsbData"
                [initialSorting]="{active: 'pValue', direction: 'asc'}"
            ></asb-table>
        </mat-expansion-panel>

    </div>
</div>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
    <asb-sci-notation [value]="value" [toInvert]="true"></asb-sci-notation>
</ng-template>
