<div *ngIf="chartDatasets.length > 0; else loadingTemplate"
     style="padding-left: 16px; padding-right: 16px"
     joyrideStep="stats"
     [stepContent]="stepTemplate"
     [stepContentParams]="getTextByStepName('stats')"
     class="row"
>
  <div class="wide-chart" style="width: 100%" >
      <div style="max-width: 100%; height: 100%">
            <div style="display: block; width: 100%; height: 100%">
              <canvas
                height="180"
                *ngIf="chartLoaded"
                mdbChart
                chartType="doughnut"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                (chartHover)="chartHovered()"
                (chartClick)="chartClicked()"
              >
              </canvas>
            </div>
      </div>
  </div>
  <div class="col-auto" style="display: flex; align-items: center">
    <ul style="list-style-type: none; padding-inline-start: 0">
      <li>
        <b [ngStyle]="{'color': chartColors[0].backgroundColor[0]}">ASB SNPs</b>: {{stats.asbCount}}
        <span class="additional-selection">(incl. {{stats.tfAsbs}} TF-ASBs and {{stats.clAsbs}} Cell type-ASBs)</span>
      </li>
      <li>
        <b
            [ngStyle]="{'color': chartColors[0].backgroundColor[1]}"
        >Non-ASB</b>: {{stats.candidatesCount}}, <b
          [ngStyle]="{'color': chartColors[0].backgroundColor[2]}"
      >&nbsp;No data:</b> {{stats.notFound}}
      </li>
      <li>
          <b>Observed ASB fraction</b>: {{stats.ratio.toFixed(1)}}% <span class="additional-selection">(Expected: {{stats.expRatio.toFixed(1)}}%)</span>
      </li>
      <li>
        <b>ASB enrichment odds-ratio</b>: {{stats.oddsRatio.toFixed(2)}}
        <span class="additional-selection">(TF-ASBs: {{stats.tfOdds.toFixed(2)}},
          Cell type-ASBs: {{stats.clOdds.toFixed(2)}})</span>
      </li>
      <li>
        <b>Fisher's exact test P-value</b>:
        <span
          [innerHTML]="writeScientificNum(stats.pValue, 2)"
        ></span>
        <span class="additional-selection"> (TF-ASBs:
          <span
            [innerHTML]="writeScientificNum(stats.tfPvalue, 2)"
          ></span>,
          Cell type-ASBs:
          <span
            [innerHTML]="writeScientificNum(stats.clPvalue, 2)"
          ></span>)</span>
      </li>
    </ul>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
