<div
    class="container"
    style="background: white"
>
    <h4
        style="padding-top: 0.5rem; display: flex"
    >
        <span style="padding-right: 0.5rem; align-self: center;">Browse</span>
        <mat-button-toggle-group
            style="font-size: 1rem"
            #group="matButtonToggleGroup"
            [value]="initialGroupValue"
            appearance="legacy"
            (change)="_groupToggled($event)"
        >
            <mat-button-toggle
                value="tf"
            >
                Transcription factors
            </mat-button-toggle>

            <mat-button-toggle
                value="cl"
            >
                Cell types
            </mat-button-toggle>
        </mat-button-toggle-group>
    </h4>

    <div
        style="margin-bottom: -16px"
    >
        <ng-container *ngIf="group.value === 'tf'; else clTableTemplate">
            <asb-table-server
                #tableTfView
                *ngIf="browseTfInfoInitialized$ | async"
                [data]="browseTfInfo$"
                [dataLoading]="browseTfInfoLoading$ | async"
                [displayedColumns]="tfDisplayedColumns"
                [columnModel]="tfColumnModel"
                [paginatorOptions]="[10, 25, 50, 100]"
                [clickableRow]="true"
                [paginatorLength]="(totalInfo$ | async) && (totalInfo$ | async).transcriptionFactorsCount"
                (rowClickEmitter)="_handleTableRowClick($event, 'tf')"
                (tableChangesEmitter)="_handleTableChange($event, 'tf')"
            >
            </asb-table-server>
        </ng-container>
    </div>
</div>

<ng-container *ngIf="((browseTfInfoLoading$ | async) &&
 !(browseTfInfoInitialized$ | async)) || ((browseClInfoLoading$ | async) &&
   !(browseClInfoInitialized$ | async))">
    <div class="asb-browse__spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</ng-container>

<ng-template #uniprotViewTemplate let-value="value">
    <a
        (click)="$event.stopPropagation()"
        [href]="'https://www.uniprot.org/uniprot/' +  value"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #cellTypeViewTemplate let-value="value" let-row="row">
    <a
        (click)="$event.stopPropagation()"
        [href]="'http://gtrd.biouml.org/'"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #clTableTemplate>
    <asb-table-server
        #tableClView
        *ngIf="browseClInfoInitialized$ | async"
        [data]="browseClInfo$"
        [dataLoading]="browseClInfoLoading$ | async"
        [displayedColumns]="clDisplayedColumns"
        [columnModel]="clColumnModel"
        [paginatorOptions]="[10, 25, 50, 100]"
        [clickableRow]="true"
        [paginatorLength]="(totalInfo$ | async) && (totalInfo$ | async).cellTypesCount"
        (rowClickEmitter)="_handleTableRowClick($event, 'cl')"
        (tableChangesEmitter)="_handleTableChange($event, 'cl')"
    >
    </asb-table-server>
</ng-template>

