<div
    class="container"
    style="background: white"
>
    <mat-button-toggle-group
        #group="matButtonToggleGroup"
        style="margin: 10px 0"
        [value]="initialGroupValue"
        (change)="_groupToggled($event)"
    >
        <mat-button-toggle
            value="tf"
        >
            Transcription factors
        </mat-button-toggle>

        <mat-button-toggle
            value="cl"
        >
            Cell types
        </mat-button-toggle>
    </mat-button-toggle-group>

    <ng-container *ngIf="group.value === 'tf'; else clTableTemplate">
        <asb-table
            #tableTfView
            *ngIf="!(browseTfInfoLoading$ | async)"
            [data]="browseTfInfo$ | async"
            [displayedColumns]="tfDisplayedColumns"
            [columnModel]="tfColumnModel"
            [paginatorOptions]="_getPaginatorOptions((browseTfInfo$ | async))"
        >
        </asb-table>
    </ng-container>
</div>
<ng-template #uniprotViewTemplate let-value="value">
    <a
        [href]="'https://www.uniprot.org/uniprot/' +  value"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #cellTypeViewTemplate let-value="value" let-row="row">
    <a
        [href]="'http://gtrd.biouml.org/'"
        target="_blank"
        rel="noopener noreferrer"
    >
        {{value}}
    </a>
</ng-template>

<ng-template #clTableTemplate>
    <asb-table
        #tableClView
        *ngIf="!(browseClInfoLoading$ | async)"
        [data]="(browseClInfo$ | async)"
        [displayedColumns]="clDisplayedColumns"
        [columnModel]="clColumnModel"
        [paginatorOptions]="_getPaginatorOptions((browseClInfo$ | async))"
    >
    </asb-table>
</ng-template>
