<mat-accordion multi>
    <mat-expansion-panel
        #panels
        *ngFor="let tf of transcriptionFactors; let first=first; let i=index"
        class="mat-elevation-z1"
        [expanded]="first"
        [id]="'tf' + i"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{tf.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{tf.motifConcordance}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div style="width: 100%; display: flex; justify-content: center">
            <img
                style="max-height: 30vh"
                [src]="makeImagePath(tf)"
                [alt]="tf.name + ' picture'"
            >
            </div>
            <button mat-raised-button matTooltip="Will be available soon">Download SVG</button>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
