<div class="asb-home" style="display: flex; justify-content: space-between; flex-direction: column">
    <div>
        <div class="asb-home__title-wrapper">
            <div class="asb-home__headline ">
                <object
                    #svgContainer
                    class="asb-home__image"
                    data="../../../../assets/images/ADASTRA_logo_main.svg"
                    type="image/svg+xml"
                ></object>
            </div>
        </div>
        <h5
            style="text-align: center; margin-top:0.4rem"
        >
            <u class="font-weight-bold">A</u>llelic
            <u class="font-weight-bold">D</u>osage-corrected
            <u class="font-weight-bold">A</u>llele-<u class="font-weight-bold">S</u>pecific human
            <u class="font-weight-bold">Tra</u>nscription factor binding sites
        </h5>
        <div style="margin-bottom: 1rem">
        <ng-container
            *ngIf="!(totalInfoLoading$ | async) && (totalInfo$ | async) as totalInfo; else TotalInfoLoadingTemplate"
        >
            <h6
                style="text-align: center; display: flex; justify-content: center; flex-wrap: wrap"
            >
                <span style="white-space: nowrap">Transcription factors:&nbsp;

                <a
                    style="text-decoration: underline"
                    [routerLink]="'/' + (release$ | async).url + '/browse'"
                    [queryParams]="{by: 'tf'}"
                >
                    {{totalInfo.transcriptionFactorsCount}}</a>
                </span>
                <span style="white-space: nowrap">&nbsp;&nbsp;&nbsp;Cell types:&nbsp;
                <a
                    style="text-decoration: underline"
                    [routerLink]="'/' + (release$ | async).url + '/browse'"
                    [queryParams]="{by: 'cl'}"
                >
                    {{totalInfo.cellTypesCount}}</a>
                </span>

                <span
                    *ngIf="(release$ | async).majorVersion < 3"
                    style="white-space: nowrap">&nbsp;&nbsp;&nbsp;Unique SNPs with ASB:&nbsp;{{totalInfo.snpsCount}}</span>
                <span *ngIf="(release$ | async).majorVersion >= 3" style="white-space: nowrap">
                    &nbsp;&nbsp;&nbsp;{{totalInfo.asbsCount}} ASBs passing 10% FDR at {{totalInfo.snpsCount}} SNPs</span>
            </h6>

        </ng-container>
        </div>
        <div
            class="container mat-elevation-z2 py-2"
            style="margin-top: 10px; background: #E7EBEC; margin-bottom: 20px">
            <asb-article-cite>

            </asb-article-cite>
        </div>
        <div class="container mat-elevation-z2 p-0 " >
            <asb-search [width]="'full'"></asb-search>
        </div>
        <div
            class="container mat-elevation-z2 py-2"
            style="margin-top: 20px; background: #E7EBEC; margin-bottom: 5px">
            <h5>News & updates</h5>
            <ul style="list-style: none; padding-inline-start: 0; max-height: 100px; overflow: auto">
                <li>
                    <span><b>2021.04.11</b> Revamped release
                        3.5 with bugfixes and better ASB scoring, see <a
                            [href]="'/assets/readme/readme.susan.txt'"
                            target="_blank"
                            rel="noopener noreferrer"
                        >release notes</a>.
                    </span>
                </li>

                <li>
                    <span><b>2021.03.21</b> ADASTRA release 3.0 online.
                        Now we support search by eQTL targets and user-defined
                        FDR thresholds.
                    </span>
                </li>
                <li>
                    <span><b>2020.12.13</b> A new 'sister' service to annotate SNP sets is now online: check
                        <a href="https://ananastra.autosome.ru"
                           target="_blank"
                        >
                            ANANASTRA</a>!</span>
                </li>
                <li>
                    <span><b>2020.11.18</b> The website was inaccessible for several days due to hardware failure of the internet provider. All data is back online now. We apologize for inconvenience.</span>
                </li>
<!--                <li>-->
<!--                    <span><b>2020.11.02</b> New release <b>Ford</b> is now available. Number of experimental data sets increased from 7668 to 15931, based on <a href="http://gtrd.biouml.org/" target="_blank" rel="noopener noreferrer">GTRD</a> v20.06.</span>-->
<!--                </li>-->
                <li>
                    <span><b>2020.10.08</b> Preprint submitted to
                        <a
                            href="https://doi.org/10.1101/2020.10.07.327643"
                            target="_blank"
                            rel="noopener noreferer"
                        >
                            bioRxiv</a>.</span>
                </li>
            </ul>
        </div>


        <asb-tour-button
            [steps]="tourSteps"
        ></asb-tour-button>
    </div>

</div>

<ng-template #TotalInfoLoadingTemplate>
    <div
        *ngIf="(totalInfoLoading$ | async)"
        style="display: flex; justify-content: center">
        <div style="width: 30px">
            <mat-progress-spinner
            diameter="30"
            mode="indeterminate"
            color="accent">
            </mat-progress-spinner>
        </div>
    </div>
</ng-template>
