<div class="asb-home" style="display: flex; justify-content: space-between; flex-direction: column">
    <div>
        <div class="asb-home__title-wrapper">
            <div class="asb-home__headline">
                <img
                    #svgContainer
                    class="asb-home__image"
                    src="../../../../assets/images/ADASTRA_logo_main.png"
                    type="image/svg+xml"
                >
            </div>
        </div>
        <h5
            style="text-align: center; margin-top:0.4rem"
        >
            <u class="font-weight-bold">U</u>niform
            <u class="font-weight-bold">D</u>atabase of
            <u class="font-weight-bold">A</u>llele-specific
            <u class="font-weight-bold">CH</u>romatin <u class="font-weight-bold">A</u>ccessibility
        </h5>
        <div style="margin-bottom: 1rem">
        <ng-container
            *ngIf="!(totalInfoLoading$ | async) && (totalInfo$ | async) as totalInfo; else TotalInfoLoadingTemplate"
        >
            <h6
                style="text-align: center; display: flex; justify-content: center; flex-wrap: wrap"
            >
                <span style="white-space: nowrap">ATAC-seq:&nbsp;

                <a
                    style="text-decoration: underline"
                    [routerLink]="'/' + (release$ | async).url + '/browse'"
                    [queryParams]="{by: 'atac'}"
                >
                    {{totalInfo.transcriptionFactorsCount}}</a>
                </span>
                <span style="white-space: nowrap">&nbsp;&nbsp;&nbsp;DNAse I:&nbsp;
                <a
                    style="text-decoration: underline"
                    [routerLink]="'/' + (release$ | async).url + '/browse'"
                    [queryParams]="{by: 'dnase'}"
                >
                    {{totalInfo.cellTypesCount}}</a>
                </span>
                <span style="white-space: nowrap">&nbsp;&nbsp;&nbsp;Faire:&nbsp;
                <a
                    style="text-decoration: underline"
                    [routerLink]="'/' + (release$ | async).url + '/browse'"
                    [queryParams]="{by: 'faire'}"
                >
                    {{totalInfo.cellTypesCount}}</a>
                </span>
                <span *ngIf="(release$ | async).majorVersion as mj">
                    <span [ngSwitch]="mj">
                    <span
                        *ngSwitchCase="1"
                        style="white-space: nowrap">&nbsp;&nbsp;&nbsp;Unique SNPs with ASB:&nbsp;{{totalInfo.snpsCount}}</span>
                    <span *ngSwitchCase="3" style="white-space: nowrap"
                        [matTooltip]="constructTooltipText(totalInfo, mj)"
                          matTooltipClass="tooltip-bigger custom-ws"
                    >&nbsp;&nbsp;&nbsp;{{totalInfo.asbsCount010}} ASBs passing 10% FDR at {{totalInfo.snpsCount010}} SNPs</span>
                    <span *ngSwitchDefault style="white-space: nowrap"
                          [matTooltip]="constructTooltipText(totalInfo, mj)"
                          matTooltipClass="tooltip-bigger custom-ws"
                    >&nbsp;&nbsp;&nbsp;{{totalInfo.asbsCount005}} ASBs passing 5% FDR at {{totalInfo.snpsCount005}} SNPs</span>
                    </span>
                </span>
            </h6>

        </ng-container>
        </div>
        <div
            class="container mat-elevation-z2 py-2"
            style="margin-top: 10px; background: #E7EBEC; margin-bottom: 20px">
            <asb-article-cite>

            </asb-article-cite>
        </div>
        <div class="container mat-elevation-z2 p-0 " >
            <asb-search [width]="'full'"></asb-search>
        </div>
        <div style="margin-top: 20px;">
            <asb-news-section></asb-news-section>
        </div>

    </div>
    <asb-tour-button
        [steps]="tourSteps"
    ></asb-tour-button>
</div>

<ng-template #TotalInfoLoadingTemplate>
    <div
        *ngIf="(totalInfoLoading$ | async)"
        style="display: flex; justify-content: center">
        <div style="width: 30px">
            <mat-progress-spinner
            diameter="30"
            mode="indeterminate"
            color="accent">
            </mat-progress-spinner>
        </div>
    </div>
</ng-template>
