 <dd >
    <ng-container *ngFor="let obj of data; let last = last; let i = index;">
        <ng-container *ngIf="!noButtons">
            <a
                *ngIf="i < maxObjects || data.length < maxObjects || showMoreObjects"
                tabindex="-1"
                [href]="tfOrCl === 'tf' ?
                'https://www.uniprot.org/uniprot/' +  obj.id  :
                'http://gtrd.biouml.org/#!table/gtrd_current.cells/Details/ID=' + obj.id"
                target="_blank"
                rel="noopener noreferrer"
                [className]="buttonsClass"

                [ngStyle]="{'background-color':  _calculateColor(i),
                            'background': _calculateColor(i)}"
            >
                {{obj.name}}
            </a>
            <button
                *ngIf="(i == maxObjects && data.length
                    - maxObjects > 1 && !showMoreObjects) || last && showMoreObjects"
                type="button"
                style="margin-top: 8px"
                [className]="buttonsClass"
                (click)="_showMoreObjects()"

            >
                {{showMoreObjects ? 'Show less' : 'Show more'}}
                <span *ngIf="!showMoreObjects"
                      class="snp-page__additional-selection"
                >
                        (+{{data.length - maxObjects}} others)
                    </span>
            </button>
        </ng-container>
        <ng-container *ngIf="noButtons">
            <button
                *ngIf="i < maxObjects || data.length < maxObjects || showMoreObjects"
                tabindex="-1"
                [className]="buttonsClass"
                aria-disabled="true"
                disabled
                style="margin-top: 8px;
                       margin-right: 8px;
                       color: rgba(0, 0, 0, 0.87);
                       opacity: 1!important;
                       pointer-events: none"
                [ngStyle]="{'background-color':  _calculateColor(i), 'background': _calculateColor(i)}"
            >
                {{obj.name}}
            </button>
            <button
                tabindex="-1"
                disabled
                *ngIf="i == maxObjects && data.length
                    - maxObjects > 1"
                aria-disabled="true"
                style="margin-top: 8px; opacity: 1!important; pointer-events: none"
                [className]="buttonsClass"
            >

                +{{data.length - maxObjects}} others

            </button>
        </ng-container>
    </ng-container>
 </dd>
