$yellow-ananas: (
    50 : #fdf8e6,
    100 : #fbedc2,
    200 : #f8e199,
    300 : #f5d470,
    400 : #f3cb51,
    500 : #f1c232,
    600 : #efbc2d,
    700 : #edb426,
    800 : #ebac1f,
    900 : #e79f13,
    A100 : #ffffff,
    A200 : #fff4e2,
    A400 : #ffe2af,
    A700 : #ffd896,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$dark-yellow-ananas: (
    50 : #fcf4e4,
    100 : #f7e3bb,
    200 : #f1d08e,
    300 : #ebbd60,
    400 : #e7ae3e,
    500 : #e3a01c,
    600 : #e09819,
    700 : #dc8e14,
    800 : #d88411,
    900 : #d07309,
    A100 : #fffdfb,
    A200 : #ffe3c8,
    A400 : #ffc995,
    A700 : #ffbb7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
