<div class="container mat-elevation-z2 px-0">
    <div class="container" style="background-color: white; padding-bottom: 0.5rem; white-space: pre-line">
        <h4 style="padding-top: 0.5rem">Downloads</h4>
        <dl style="padding: 0 15px">
            <dt>
                List of <a href="http://gtrd.biouml.org/" target="_blank" rel="noopener noreferrer">GTRD</a> data used in the ADASTRA release {{releaseName}}:
            </dt>
            <dd>
                <a href="/assets/ADASTRA_GTRD_exps.tsv" download>ADASTRA_GTRD_exps.tsv</a>
            </dd>
            <dt>
                Full genome BAD maps called with
                <a
                    href="https://github.com/autosome-ru/BABACHI"
                    rel="noopener noreferrer"
                    target="_blank">
                    BABACHI</a>:
            </dt>
            <dd>
                <a href="/assets/BADmaps.zip" download>BADmaps.zip</a>
            </dd>
        </dl>

    </div>
</div>
