<div class="container mat-elevation-z2 px-0">
    <div class="container" style="background-color: white; white-space: pre-line">
        <h4 style="padding-top: 0.5rem">Downloads</h4>
        <ul >
            <li *ngFor="let release of releasesList" style="padding-bottom: 25px; ">
                <h5>
                    Release
                    <a [href]="'/' + release.url">{{release.name}}</a>
                    {{release.version}}, {{release.date}}
                    <span *ngIf="release.recent">(current)</span>
                </h5>
                <ul style="padding: 0 0 0 40px; list-style-type: none">
                    <li *ngIf="release.notes">
                        <strong>
                            Release Notes:
                        </strong>
                        <span>
                            {{release.notes}}
                        </span>
                    </li>
                    <li >
                        <strong>
                            List of <a href="http://gtrd.biouml.org/" target="_blank" rel="noopener noreferrer">GTRD</a> data used:
                        </strong>
                        <span>
                            <a [href]="'/assets/' + release.gtrdExpsPath" [download]="_getGtrdExpsName(release)">{{_getGtrdExpsName(release)}}</a>
                        </span>
                    </li>
                    <li >
                        <strong>
                            Full genome BAD maps called with
                            <a
                                href="https://github.com/autosome-ru/BABACHI"
                                rel="noopener noreferrer"
                                target="_blank">
                                BABACHI</a>:
                        </strong>
                        <span>
                            <a [href]="'/assets/' + release.badMapsPath" [download]="_getBadmapsName(release)">{{_getBadmapsName(release)}}</a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
