<dl class="row mx-0">
    <dt
        *ngIf="!noButtons"
        class="col-auto snp-card__tag align-self-start d-none d-md-block"
        style="vertical-align: center"
    >
        Sequence
    </dt>
    <dd
        joyrideStep="sequence"
        [stepContent]="stepTemplate"
        [stepContentParams]="getTextByStepName('sequence')"
        [prevTemplate]="prevTemplate"
        [nextTemplate]="nextTemplate"
        [doneTemplate]="doneTemplate"
        *ngIf="!noButtons"
        style="margin-bottom: 0; overflow: auto"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center d-none d-md-block"
    ><h6 style="margin-bottom: 0">{{snpData.context}}</h6></dd>
    <dt
        *ngIf="snpData.cellLines.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB in cell types
    </dt>
    <asb-snp-buttons
        [joyrideStep]="'cell-types-buttons'  + (index ? index : '')"
        [stepContent]="stepTemplate"
        style="overflow: auto"
        [stepContentParams]="getTextByStepName('cell-types-buttons', noButtons ? 'search' : 'snp')"
        *ngIf="snpData.cellLines.length != 0"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.cellLines"
        [maxObjects]="4"
        [tfOrCl]="'cl'"
        [noButtons]="noButtons"
        [showMoreObjects]="showMoreCellLines"
        (objectsQualChanged)="_showMoreCellLines($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>
    <dt
        *ngIf="snpData.transFactors.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASB for transcription factors
    </dt>
    <asb-snp-buttons
        [joyrideStep]="'transcription-factors-buttons' + (index ? index : '')"
        [stepContent]="stepTemplate"
        style="overflow: auto"
        [stepContentParams]="getTextByStepName('transcription-factors-buttons', noButtons ? 'search' : 'snp')"
        *ngIf="snpData.transFactors.length != 0"
        class="col-sm-7 col-md-8  col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.transFactors"
        [noButtons]="noButtons"
        [tfOrCl]="'tf'"
        [maxObjects]="4"
        [showMoreObjects]="showMoreTfs"
        (objectsQualChanged)="_showMoreTfs($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>

    <dt
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
        *ngIf="!noButtons"
    >

    </dt>
    <dd
        *ngIf="!noButtons"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center d-flex"
    >
        <div
            class="mr-1 mt-1 mt-md-0"
            joyrideStep="search-nearby"
            [stepContent]="stepTemplate"
            (next)="nextStep()"
            [stepContentParams]="getTextByStepName('search-nearby', noButtons ? 'search' : 'snp')"
            style="margin: -10px; padding: 10px; display: inline-flex; overflow: auto"
        >
            <a
                mat-raised-button
                color="accent"
                matTooltip="+/-100bp"
                [routerLink]="'/' + (release$ | async).url + '/search/advanced'"
                [queryParams]="{pos: (snpData.pos > 100 ? snpData.pos - 100 : '1')
                        + '-' + (snpData.pos + 100) ,
                        chr: snpData.chr.slice(3), skip_check: '1', fdr: fdr}"
            >
                Search SNPs nearby
            </a>
        </div>
        <div
            class="mt-1 mt-md-0"
            joyrideStep="genome-browser"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('genome-browser')"
            style="margin: -10px; padding: 10px; display: inline-flex; overflow: auto"
        >
        <a
            joyrideStep="genome-browser"
            style="overflow: auto"
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [href]="'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position='
            + snpData.chr + ':' + (snpData.pos > 100 ? snpData.pos - 100 : '1')
            + '-' + (snpData.pos + 100) +
            '&hgct_customText=track%20type=bigBed%20name=ADASTra_ASB_SNPs%20' +
             'description=%22ADASTra%20ASB%20SNPs%22%20visibility=full%20bigDataUrl=' +
             url + 'assets/ucsc-files/' + (release$ | async).ucscFileName +'&knownGene=full&' +
             'omimAvSnp=full&varsInPubs=full&snpedia=full&hgmd=full'"
        >
            Show in UCSC Genome Browser
        </a>
        </div>
        <div style="display: inline-flex; margin-left: auto">
            <ng-container *ngIf="(release$ | async).name as name ">
                <ng-container *ngIf="name != 'Soos' && name != 'Ford'">
                <mat-form-field
                >
                    <mat-label>FDR threshold</mat-label>
                    <mat-select [formControl]="fdrControl">
                        <mat-option value="0.01">0.01</mat-option>
                        <mat-option value="0.05">0.05</mat-option>
                        <mat-option value="0.1">0.1</mat-option>
                        <mat-option value="0.15">0.15</mat-option>
                        <mat-option value="0.25">0.25</mat-option>
                    </mat-select>
                </mat-form-field>
                </ng-container>
            </ng-container>
        </div>
    </dd>
</dl>

<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #prevTemplate>
    <button mat-stroked-button color="accent">Prev</button>
</ng-template>

<ng-template #nextTemplate>
    <button mat-raised-button color="accent">Next</button>
</ng-template>

<ng-template #doneTemplate>
    <button mat-raised-button color="accent">Exit</button>
</ng-template>
