<dl class="row mx-0">
    <dt
        *ngIf="!noButtons"
        class="col-auto snp-card__tag align-self-start d-none d-md-block"
        style="vertical-align: center"
    >
        Sequence
    </dt>
    <dd
        joyrideStep="sequence"
        [stepContent]="stepTemplate"
        [stepContentParams]="getTextByStepName('sequence')"
        [prevTemplate]="prevTemplate"
        [nextTemplate]="nextTemplate"
        [doneTemplate]="doneTemplate"
        *ngIf="!noButtons"
        style="margin-bottom: 0; overflow: auto"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center d-none d-md-block"
    ><h6 style="margin-bottom: 0">{{snpData.context}}</h6></dd>
    <dt
        *ngIf="snpData.dnaseData.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASA in DNase I
    </dt>
    <asb-snp-buttons
        [joyrideStep]="'cell-types-buttons'  + (index ? index : '')"
        [stepContent]="stepTemplate"
        style="overflow: auto"
        [stepContentParams]="getTextByStepName('cell-types-buttons', noButtons ? 'search' : 'snp')"
        *ngIf="snpData.dnaseData.length != 0"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.dnaseData"
        [maxObjects]="4"
        [aggType]="'dnase'"
        [noButtons]="noButtons"
        [showMoreObjects]="showMoreCellLines"
        (objectsQualChanged)="_showMoreCellLines($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>
    <dt
        *ngIf="snpData.atacData.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASA in ATAC-seq
    </dt>
    <asb-snp-buttons
        [joyrideStep]="'transcription-factors-buttons' + (index ? index : '')"
        [stepContent]="stepTemplate"
        style="overflow: auto"
        [stepContentParams]="getTextByStepName('transcription-factors-buttons', noButtons ? 'search' : 'snp')"
        *ngIf="snpData.atacData.length != 0"
        class="col-sm-7 col-md-8  col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.atacData"
        [noButtons]="noButtons"
        [aggType]="'atac'"
        [maxObjects]="4"
        [showMoreObjects]="showMoreTfs"
        (objectsQualChanged)="_showMoreTfs($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>

    <dt
        *ngIf="snpData.faireData.length != 0"
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
    >
        ASA in Faire-seq
    </dt>
    <asb-snp-buttons
        [joyrideStep]="'faire-buttons' + (index ? index : '')"
        [stepContent]="stepTemplate"
        style="overflow: auto"
        [stepContentParams]="getTextByStepName('faire-buttons', noButtons ? 'search' : 'snp')"
        *ngIf="snpData.faireData.length != 0"
        class="col-sm-7 col-md-8  col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around justify-content-center"
        [data]="snpData.faireData"
        [noButtons]="noButtons"
        [aggType]="'faire'"
        [maxObjects]="4"
        [showMoreObjects]="showMoreTfs"
        (objectsQualChanged)="_showMoreTfs($event)"
        [buttonsClass]="'btn btn-outline-secondary snp-card__buttons'"
    >
    </asb-snp-buttons>

    <dt
        class="col-auto snp-card__tag align-self-start"
        style="vertical-align: center; margin-top: 5px"
        *ngIf="!noButtons"
    >

    </dt>
    <dd
        *ngIf="!noButtons"
        class="col-sm-7 col-md-8 col-lg-9 col-xl-10 flex-wrap align-items-start align-content-around d-flex"
    >
        <div
            class="mr-1 mt-1 mt-md-0"
            joyrideStep="search-nearby"
            [stepContent]="stepTemplate"
            (next)="nextStep()"
            [stepContentParams]="getTextByStepName('search-nearby', noButtons ? 'search' : 'snp')"
            style="margin: -10px; padding: 10px; display: inline-flex; overflow: auto"
        >
            <a
                mat-raised-button
                color="accent"
                matTooltip="+/-100bp"
                [routerLink]="'/' + (release$ | async).url + '/search/advanced'"
                [queryParams]="{pos: (snpData.pos > 100 ? snpData.pos - 100 : '1')
                        + '-' + (snpData.pos + 100) ,
                        chr: snpData.chr.slice(3), skip_check: '1', fdr: fdr}"
            >
                Search SNPs nearby
            </a>
        </div>
        <div
            class="mt-1 mt-md-0 mr-1"
            joyrideStep="genome-browser"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('genome-browser')"
            style="margin: -10px; padding: 10px; display: inline-flex; overflow: auto"
        >
        <a
            style="overflow: auto"
            mat-raised-button
            target="_blank"
            rel="noopener noreferrer"
            [href]="'http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position='
            + snpData.chr + ':' + (snpData.pos > 100 ? snpData.pos - 100 : '1')
            + '-' + (snpData.pos + 100) +
            '&hgct_customText=track%20type=bigBed%20name=ADASTra_ASB_SNPs%20' +
             'description=%22ADASTra%20ASB%20SNPs%22%20visibility=full%20bigDataUrl=' +
             url + 'assets/ucsc-files/' + (release$ | async).ucscFileName +'&knownGene=full&' +
             'omimAvSnp=full&varsInPubs=full&snpedia=full&hgmd=full'"
        >
            View in UCSC Genome Browser
        </a>
        </div>
        <div
            class="mt-1 mt-md-0"
            joyrideStep="phelige"
            [stepContent]="stepTemplate"
            [stepContentParams]="getTextByStepName('phelige')"
            style="margin: -10px; padding: 10px; display: inline-flex; overflow: auto"
        >
            <a
                style="overflow: auto"
                mat-raised-button
                target="_blank"
                rel="noopener noreferrer"
                [href]="'https://phelige.com/associations?p=5e-8&rs-id=' + snpData.rsId + '&r2=0.9'"
            >
                <div style="display: flex; align-items: center">
                    <img
                        class="py-1 pr-2"
                        style="max-height: 30px"
                        height="256"
                        src="/assets/images/phelige.png" alt="">
                    View in PheLiGe
                </div>
            </a>
        </div>
        <div style="display: inline-flex; margin-left: auto; padding-top: 0.3rem">
            <ng-container *ngIf="(release$ | async).majorVersion as version">
                <form
                    [formGroup]="thresholdsGroup"
                    *ngIf="version >= 3">
                <mat-form-field
                    style="max-width: 80px; margin-right: 5px;"
                >
                    <mat-label>FDR threshold</mat-label>
                    <mat-select formControlName="fdr">
                        <mat-option
                            *ngFor="let option of fdrOptions"
                            [value]="option"
                        >
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    style="max-width: 80px"
                >
                    <mat-label>ES threshold</mat-label>
                    <mat-select formControlName="es">
                        <mat-option
                            *ngFor="let option of esOptions"
                            [value]="option"
                        >
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </form>
            </ng-container>
        </div>
    </dd>
</dl>

<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
<ng-template #prevTemplate>
    <button mat-stroked-button color="accent">Prev</button>
</ng-template>

<ng-template #nextTemplate>
    <button mat-raised-button color="accent">Next</button>
</ng-template>

<ng-template #doneTemplate>
    <button mat-raised-button color="accent">Exit</button>
</ng-template>
