 <dd >
    <ng-container *ngFor="let obj of data; let last = last; let i = index;">
        <button
            *ngIf="i < maxObjects || data.length < maxObjects || showMoreObjects"
            tabindex="-1"
            aria-disabled="true"
            disabled
            [className]="buttonsClass"
            style="margin-top: 8px; opacity: 1!important; pointer-events: none; margin-right: 8px"
            [ngStyle]="{'background-color':  _calculateColor(i)}"
        >
            {{obj.name}}
        </button>
        <ng-container *ngIf="!noButtons">
            <button
                *ngIf="(i == maxObjects && data.length
                    - maxObjects > 1 && !showMoreObjects) || last && showMoreObjects"
                type="button"
                style="margin-top: 8px"
                [className]="buttonsClass"
                (click)="_showMoreObjects()"

            >
                {{showMoreObjects ? 'Show less' : 'Show more'}}
                <span *ngIf="!showMoreObjects"
                      class="snp-page__additional-selection"
                >
                        (+{{data.length - maxObjects}} others)
                    </span>
            </button>
        </ng-container>
        <ng-container *ngIf="noButtons">
            <button
                tabindex="-1"
                disabled
                *ngIf="i == maxObjects && data.length
                    - maxObjects > 1"
                aria-disabled="true"
                style="margin-top: 8px; opacity: 1!important; pointer-events: none"
                [className]="buttonsClass"
            >

                +{{data.length - maxObjects}} others

            </button>
        </ng-container>
    </ng-container>
 </dd>
