@import "~src/styles/shared/colors.less";

.asb-home{
    -webkit-transform-style: preserve-3d;
    --moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &__title-wrapper{
        background-color: transparent;
        height: -webkit-calc((100vw / 1.61) - (172px + 28px));
        height: -moz-calc((100vw / 1.61) - (172px + 28px));
        height: calc((100vw / 1.61) - (172px + 28px));
        max-height: 40vh;
        min-height: 20vh;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: -webkit-calc((100vw / 1.61) - (172px + 28px));
        height: -moz-calc((100vw / 1.61) - (172px + 28px));
        height: calc((100vw / 1.61) - (172px + 28px));
        max-height: 40vh;
        min-height: 20vh;
        font-family: 'Lato', sans-serif;
    }

    &__headline{
        height: 100%;
        width: 100%;


        &-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &__headline-small {
        background-color: #fff;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    &__content-wrapper{
        z-index: 1;
    }
}

@media only screen and (max-device-width: 767px) {
    .asb-home__image-container {
        background-attachment: scroll;
    }
}
@media only screen and (max-device-width: 575px) {
    .asb-home__image-container {
        background-attachment: scroll;
    }
}

