<div class="asb-home__title-wrapper">
    <div
        class="asb-home__image-container"
        [defaultImage]="'assets/images/night-sky.jpg'"
        [lazyLoad]="'assets/images/night-sky-big.jpg'"
    >
    </div>
    <div class="asb-home__headline ">
        <div class="asb-home__headline-wrapper">
            <div [ngStyle]="{'opacity': opacity}">
                <h1
                    style="color: #fff; text-align: center;"
                >
                    ADASTra
                </h1>
                <ng-container

                    [ngTemplateOutlet]="descriptionTemplate"
                    [ngTemplateOutletContext]="{value: 'd-none d-md-block text-white'}"
                >

                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="asb-home__content-wrapper">

    <div
        class="container justify-content-center mx-auto py-sm-3"
        style=" background-color: white"
    >
        <ng-container

            [ngTemplateOutlet]="descriptionTemplate"
            [ngTemplateOutletContext]="{value: 'd-md-none'}"
        >

        </ng-container>
        <asb-search [width]="'full'"></asb-search>
    </div>
</div>

<ng-template #descriptionTemplate let-value="value">
    <h3
        [class]="value"
    >
        Allelic Dosage-corrected Allele-Specific Transcription factor binding sites
    </h3>
</ng-template>
