@import "~src/styles/shared/colors.less";

.example-card {
  max-width: 500px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.itemss {
  display: flex;
  margin-right: 0;

  height: 100%;
}
