<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-start py-md-0"
     style="margin-bottom: 1rem;overflow: auto;line-height: 1.5;"
>
    <div style="display: flex; align-items: center" *ngIf="!searchOpened">
        <a
            style="padding-right: 0"
            class="navbar-brand mr-0 py-0"
            [routerLink]="'/'"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <div style="display: flex; align-items: center">
                <img
                    src="/assets/images/ANANAS_logo_small.svg"
                    alt=""
                    style="height:30px; margin-right: 0.7rem"
                >
                <div style="display: inline-block">
                    ANANASTRA
                    (<span style="color: red">BETA!</span>)
                </div>

            </div>
        </a><span
        class="d-none d-sm-inline"
        style="color: rgba(255,255,255,.5); align-self: flex-end;padding-bottom: 0.1rem;">
            &nbsp;based on&nbsp;<a
                style="color: rgba(255,255,255,.5);"
                target="_blank"
                rel="noopener noreferrer"
                [matTooltipClass]="'big-font'"
                [href]="'https://adastra.autosome.ru'"
                matTooltip="The database of Allelic Dosage-corrected Allele-Specific human Transcription factor binding sites"
            >ADASTRA</a>
        </span>
    </div>
    <div *ngIf="searchOpened" class="ml-auto mr-1">
        <ng-container [ngTemplateOutlet]="formTemplate"
                      [ngTemplateOutletContext]="{type: true}"
        ></ng-container>
    </div>
    <div
        class="collapse navbar-collapse  ml-auto p-2 justify-content-end"
    >
        <ng-container *ngTemplateOutlet="linksTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    </div>
    <div class="mr-sm-0 mr-2"
         [ngClass]="searchOpened ? '' :'ml-auto'"
    >
        <button
            *ngIf="!searchOpened"
            class="d-md-none d-inline-flex"
            mat-icon-button
            (click)="searchClicked()"
            matTooltip="Search by ticket ID"
        >
            <mat-icon style="color: #f1f3f4" svgIcon="search"></mat-icon>
        </button>
        <button
            class="navbar-toggler"
            aria-label="Toggle navigation"
            type="button"
            [matMenuTriggerFor]="links"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <mat-menu #links="matMenu" style="padding-top: 0">
        <mat-nav-list style="padding-top: 0">
            <ng-container *ngTemplateOutlet="linksTemplate"></ng-container>
        </mat-nav-list>
    </mat-menu>
</nav>
<ng-template #linksTemplate>
    <div class="navbar-nav mr-1">
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/help'"
            [routerLinkActive]="['active']"
        >
            Help
        </a>
        <a
            class="nav-item nav-link py-sm-0"
            mat-list-item
            [routerLink]="'/about'"
            [routerLinkActive]="['active']"

        >
            About
        </a>

    </div>
</ng-template>
<ng-template #formTemplate let-type="type">
    <form [formGroup]="searchGroup"
          [joyrideStep]="'job' + (type ? 'type' : '')"
          [stepContent]="stepTemplate"
          [stepContentParams]="getTextByStepName('job')"
          class="my-0 pl-0 pl-md-1" style="display: flex; flex-wrap: nowrap;background: #f1f3f4; border-radius: .25rem "
          (ngSubmit)="submit()">
        <button
            *ngIf="type"
            class="astra-button"
            matRipple
            matTooltip="Close search"
            (click)="searchOpened = false"
        >
            <mat-icon svgIcon="chevron-down" style="transform: rotate(90deg)"></mat-icon>
        </button>
        <div style="height: 40px;padding: 0; overflow: hidden; max-width: 158px">
            <div style="display: flex; flex:1">
                <input class="mr-sm-2 mr-1 font-input"
                       style="opacity: 1; line-height: 40px; height: 40px; background: transparent"
                       formControlName="search"
                       type="search"
                       placeholder="Previous job Ticket ID"
                       aria-label="Search"
                >
            </div>
        </div>
        <button
            class="my-0"
            matRipple
            style="background-color: transparent;
                    border: 1px solid transparent;
                    padding: .375rem .75rem;"
            type="submit"
        >
            <mat-icon color="primary" svgIcon="search"></mat-icon>
        </button>
    </form>
</ng-template>
<ng-template #stepTemplate let-text="text">
    <asb-step-template [text]="text">

    </asb-step-template>
</ng-template>
