<div
    class="container mat-elevation-z2 py-2"
    style="background: #E7EBEC; margin-bottom: 5px; position: relative">
<div style="position: relative">
<h5>News & updates</h5>
<div
    [ngClass]="showFireworks ? 'fireworks' : ''"
    [ngStyle]="fireworksStyle"
>
    <div class="before"></div>
</div>
<ul
    style="list-style: none; padding-inline-start: 0; max-height: 100px; overflow: auto"
>
    <li>
    <span><b>2023.06.13</b>
        Check allele-specific chromatin accessibility at SNPs with the <a href="https://udacha.autosome.org/IceKing">first public release</a> of the UDACHA database!
    </span>
    </li>
    <li>
        <span><b>2022.07.16</b> Added a new downloadable fileset of
            ASBs aggregated for individual "cell type + transcription factor"
            pairs,
            see <a
                href="https://adastra.autosome.org/downloads"
                target="_blank"
                rel="noopener noreferer"
            >
                Downloads</a>.
        </span>
    </li>
    <li>

        <span><b>2022.07.07</b>
        Release <a [href]="'/bill-cipher'">Bill Cipher</a> patch 5.1 is out. Fixed a rare scoring issue of events with very high read coverage.
        </span>
    </li>
    <li>

        <span><b>2022.05.27</b>
        New release <a [href]="'/bill-cipher'">Bill Cipher</a> is now online! It utilizes an updated BAD maps construction strategy that provides solid recall of diploid regions while allowing for intermediate BAD states.

        </span>
    </li>
    <li>

        <span><b>2022.05.27</b>
        Release <a [href]="'/susan'">Susan</a> and <a [href]="'/zanthar'">Zanthar</a> are no longer browsable online. The data remain available for download.

        </span>
    </li>
    <li>

        <span><b>2022.04.21</b>
<!--                        <a-->
<!--                            href="https://ananastra.autosome.org"-->
<!--                            target="_blank"-->
<!--                            rel="noopener noreferer"-->
<!--                        >-->
<!--                            ANANASTRA</a>--> ANANASTRA paper has been published in
                                    <a
                                        (mouseover)="showFireworks = true"
                                        (mouseout)="mouseOut()"
                                        href="https://doi.org/10.1093/nar/gkac262"
                                        target="_blank"
                                        rel="noopener noreferer"
                                    >Nucleic Acids Research</a>!
        </span>
    </li>
    <li>

        <span><b>2021.10.18</b>
                        The ADASTRA team won
                        <span
                            (mouseover)="showFireworks = true"
                            (mouseout)="mouseOut()"
                        ><a
                            [href]="'https://twitter.com/UlrichBetz/status/1448914849615040518'"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Variant Calling Merck Research Challenge 2021</a></span>!
                    </span>
    </li>
    <li>
                    <span><b>2021.09.01</b>
                        New release with permissive BAD calling and 2x increased sensitivity,
                        meet <a [href]="'/zanthar'">Zanthar 4.0</a>.
                    </span>
    </li>
    <li>
                    <span><b>2021.05.12</b>
                        ADASTRA paper (describing release
                        <a [href]="'/soos'">Soos</a>) is finally published in
                        <a
                            (mouseover)="showFireworks = true"
                            (mouseout)="mouseOut()"
                            href="https://www.nature.com/articles/s41467-021-23007-0"
                            target="_blank"
                            rel="noopener noreferer"
                        >Nature Communications</a>!
                    </span>
    </li>
    <li>
                    <span><b>2021.04.11</b> Revamped release
                        3.5 with bugfixes and better ASB scoring, see <a
                            [href]="'/assets/readme/readme.susan.txt'"
                            target="_blank"
                            rel="noopener noreferrer"
                        >release notes</a>.
                    </span>
    </li>

    <li>
                    <span><b>2021.03.21</b> ADASTRA release 3.0 online.
                        Now we support search by eQTL targets and user-defined
                        FDR thresholds.
                    </span>
    </li>
    <li>
                    <span><b>2020.12.13</b> A new 'sister' service to annotate SNP sets is now online: check
                        <a href="https://ananastra.autosome.org"
                           target="_blank"
                           rel="noopener noreferer"
                        >
                            ANANASTRA</a>!</span>
    </li>
    <li>
        <span><b>2020.11.18</b> The website was inaccessible for several days due to hardware failure of the internet provider. All data is back online now. We apologize for inconvenience.</span>
    </li>
    <!--                <li>-->
    <!--                    <span><b>2020.11.02</b> New release <b>Ford</b> is now available. Number of experimental data sets increased from 7668 to 15931, based on <a href="http://gtrd.biouml.org/" target="_blank" rel="noopener noreferrer">GTRD</a> v20.06.</span>-->
    <!--                </li>-->
    <li>
                    <span><b>2020.10.08</b> ADASTRA preprint submitted to
                        <a
                            href="https://doi.org/10.1101/2020.10.07.327643"
                            target="_blank"
                            rel="noopener noreferer"
                        >
                            bioRxiv</a>.</span>
    </li>
</ul>
</div>
</div>
